{% extends "base.html" %}

{% load i18n %}
{% load pytils_dt %}
{% load pytils_numeral %}
{% load discussion_tags %}
{% load theme %}

{% block title %}{{ object.name }}{% endblock %}

{% block extrahead %}
{% theme_css "highlight" %}
{% theme_js "highlight" %}
<script type="text/javascript">initHighlightingOnLoad('html', 'css', 'python');</script>
{% theme_js "comments" %}
{% theme_js "jquery.form" %}
{% theme_js "ajaxforms" %}
<link rel="alternate" type="application/rss+xml" title="{{ settings.BLOG_NAME }}: comments on {{ object.name }} feed" href="{% url feed feedurl %}" />
<link rel="pingback" href="http://{{ site.domain }}{% url pingback %}" />
{% endblock %}

{% block content %}
{% include "blog/post_entry.html" %}
<br />
<a class="comment-link" onclick="return comment();" href="#">{% trans "Add comment" %}</a>

{% if object.pingbacks.all|length %}
<div id="pingbacks"><h2>{% trans "Pingbacks" %}</h2>
  {% for pingback in object.pingbacks.all %}
  <div 
     class="pingback {% cycle odd,even %}"
     id="p{{ pingback.id }}">
    <span class="pingback-title">
      <a class="pingback-url" href="{{ pingback.url }}" rel="external nofollow">{{ pingback.title }}</a>
      <span class="pingback-location">@{{ pingback.get_host }}</span>
    </span>
    <span class="pingback-time"><a href="#p{{ pingback.id }}">{{ pingback.date|date }} {{ pingback.date|time }}</a></span>
    <div>{{ pingback.content|typogrify|safe }}</div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% comment_tree_for_object object as comments %}
<div id="comments"><h3>{% trans "Comments" %}</h3>
  {% if not comments %}
    <div>{% trans "No comments for this post" %}</div>
  {% endif %}

  {% for comment in comments %}
  <div 
     style="margin-left:{% widthratio comment.level 30 100 %}%"
     class="blogcomment {% cycle odd,even %}" 
     id="c{{ comment.id }}">
    <span class="author">{% link comment.user %}</span>
    <span class="comment-time"><a href="#c{{ comment.id }}">{{ comment.pub_date|date }} {{ comment.pub_date|time }}</a></span>
    <div class="text">{% if GRAVATAR_ENABLE %}<img alt="avatar" src="{{ comment.get_gravatar_url }}" class="avatar" />{% endif %}{{ comment.body_html|safe }}</div>

    {% if object.comments_open %}
    <a class="reply-link" 
       id="reply-link-{{ comment.id }}" 
       onclick="return replyto({{ comment.id }})"
       href="?reply_to={{ comment.id }}">{% trans "reply" %}</a>
    {% endif %}

    {% ifequal user comment.user %}
    <a class="edit-comment"
       id="edit-comment-{{ comment.id }}"
       onclick="return edit_comment({{ comment.id }}, '{% url comment_edit comment.id %}');"
       href="#">{% trans "edit" %}</a>
    <a class="cancel-edit"
       id="cancel-edit-{{ comment.id }}"
       onclick="return cancel_edit({{ comment.id }});"
       href="#">{% trans "cancel" %}</a>
    <input type="submit" value="submit" class="edit-submit" id="edit-submit-{{ comment.id }}" 
           onclick="return submit_edit({{ comment.id }}, '{% url comment_edit comment.id %}');" />
    {% endifequal %}

    {% if user.is_staff %}
    <a class="delete-comment"
       id="delete-comment-{{ comment.id }}"
       onclick="return delete_comment({{ comment.id }}, '{% url comment_delete comment.id %}');"
       href="#">{% trans "delete" %}</a>
    {% endif %}

    {% if object.comments_open %}{% ifequal reply_to comment.id %}
    {% include "blog/comment_form.html" %}
    {% endifequal %}{% endif %}
  </div>
  {% endfor %}
  
  {% if object.comments_open %}{% if not reply_to %}
  {% include "blog/comment_form.html" %}
  {% endif %}{% endif %}
                                   
</div>
{% endblock %}

