{% load i18n %}
<script type="text/javascript">
function showLoginForm() {
    document.getElementById('login-form').style.display = 'block';
    return false;
}

function hideLoginForm() {
    document.getElementById('login-form').style.display = 'none';
    return false;
}
</script>
<div class="sidebar">
    <dl class="sidebardl">
    <dt>Login</dt>
    {% if request.user.is_authenticated %}
    <dd><div class="account-info">{% trans "Hello," %} {{ request.user.name }}</div></dd>
    <dd><a class="first" href="{% url profile_edit %}">{% trans "Profile" %}</a></dd>
    {% if request.user.is_staff %}<dd><a href="/admin/">{% trans "Admin" %}</a>{% endif %}</dd>
    <dd><a class="last" href="{% url logout %}">{% trans "Logout" %}</a></dd>
    {% else %}
    <dd><a class="first last" href="{% url login %}" onclick="return showLoginForm();">login</a></dd>
    {% endif %}
    </dl>
</div>
<div class="sidebar" id="login-form" style='display:none'>
    <dl class="sidebardl">
        <dt>{% trans "Login with password" %}</dt>
        <dd>
        <form action="{% url login %}" method="post">
            <input type="text" id="email" name="email" />
            <input type="password" id="password" name="password" />
            <input type="submit" value="Login" />
        </form>
        (or comment any post to register)
        <a href="{% url password_reset %}">{% trans "Forgot password?" %}</a>
        </dd>
    </dl>
    <dl class="sidebardl">
        <dt>{% trans "Login with OpenID" %}</dt>
        <dd>
        <form action="{% url openid_signin %}" method="post">
            <input type="text" id="openid_url" name="openid_url" />
            <input type="submit" value="Login" />
        </form>
        </dd>
    </dl>
</div>

