.post {
	background: url(../images/left.png) no-repeat 50% -40px;
}

.post-name {
	color: #cc0000;
	text-size: 12pt;
	text-align: center;
}

.post .post-date {
	color: #cc0000;
	float: right;
}

.post-text {
	padding: 10px 0px;
}