{% extends "../base.html" %}
{% block title %}Our team at YourSway{% endblock %}

{% block contents %}

<div class="column prepend-1 span-16 append-7 last">
  
<h2>Our Company</h2>

<p>YourSway LLC is a privately held company headquarted in the center of Siberia, in a large city of Novosibirsk, Russia.</p>

<p>We are a team of passionate developers who gathered together to build amazing stuff. We work in a friendly informal environment and know each other well.</p>

</div>



<div class="column prepend-1 span-16">
  <p><img class="top" width="622" height="407" src="/images/aboutus/yoursway-team.jpg"></p>
</div>

<div class="column span-7 last quiet">
  <h2 class="alt">Contacts</h2>
  <p>Musi Djalilya 11-630,<br>
  630058, Novosibirsk, Russia<br>
	Tel.: +7 906 193 29 59 <br>
	Skype: andreyvit (our CTO)<br>
	E-mail: <a href="mailto:info@yoursway.com">info@yoursway.com</a>
  </p>
</div>



<div class="column prepend-1 span-16 append-7 last">
  
<h2>Our People</h2>

<h3>Andrey Tarantsov — CTO & co-founder</span></h3>

  <p>15 years have passed since Andrey was a proud DOS user, and he's been crazy about computer programming for all that time.</p>

</div>



<div class="column prepend-1 span-16">

  <p class="sibling">Andrey's experience ranges from GW-BASIC, through Assembler and standards-based C++ to Python, Ruby and Java. He has lead and failed his first multiperson project at the age of 16, and has learned a lot about managing software development since then. It was around the same time when he got to know that his favourite part of programming is called “object-oriented analysis and design”.</p>
  
  <p>Andrey has contributed the initial Ruby type inference code to the Eclipse Dynamic Languages Toolkit project and has then demoed it at EclipseCon 2007. Andrey has left the DLTK team afterwards and co-founded a company which aims at creating a new generation of IDEs and productivity tools for developers.</p>
  
  <p>Currently Andrey is managing all kinds of activities the company has. He's mostly focused on Java and Eclipse world, though occasionally gets involved in Python and Ruby projects or has to apply his Win32 skills to some crazy JNIs.</p>
  
  <p>Software development is the only thing Andrey is interested in, and occasional hobbies do not attract much attention. One certain thing is that he enjoys spending his free time with his wife and 4-year old daughter.</p>
    
</div>

<div class="column prepend-1 span-6 last">
  
  <blockquote class="nomargin top bottom">
    <p><span class="dquo">“</span>I love beautiful code and beautiful designs, and I believe that every language has its own unique style which makes the definition of ‘beautiful’ very different for each of them.</p>
    <p>I also love Ada, which is sharing the label of my all-time favourite language with Ruby.”</p>
  </blockquote>
  
</div>



<div class="column prepend-1 span-16 append-7 last">

<h3>Mikhail Kalugin — co-founder</h3>

  <p>Mikhail is the force pulling our most significant and important projects. He's one of those guys who learned to program before learning to write. If you hand him a new language in the morning, be prepared for black magic-powered code snippets by midnight. It's only natural that, being passionate about Macs, he's our top OS X development specialist.</p>
  
</div>
  


<div class="column prepend-1 span-16">

  <p class="sibling">Mikhail is the person behind most of DLTK Tcl plugin code and the editing features of DLTK Ruby. He also jump-started our Taskus product which is approaching a beta release soon. One thing Mikhail likes a lot is prototyping, and if you ask us for a technical demo you are likely to receive a prototype hacked together by him in a couple of days.</p>
  
  <p>His software development career starts with programmable calculators. He moved to CP/M Basic at the age of 8, gave up his personal life to Linux at 14 and knew everything from Assembler to Lisp by 16. He's currently interested in analysis and design of programming languages, and his ever-lasting passion is designing user interfaces.</p>
  
  <p>Everyone knows Mikhail as the craziest person in the company. His non-technical interests are countless, the most visible ones being mountain biking, photography, cooking and racing his MMC Lancer.</p>
  
</div>

<div class="column prepend-1 span-6 last">
  
  <blockquote class="nomargin top bottom">
    <p><span class="dquo">“</span>Так уж сложилось, что плохой интерфейс сразу бросается мне в глаза и мне хочется что-то исправить. Убил бы дизайнеров большинства стиральных машинок, а также брелков от сигнализации...”</p>
  </blockquote>
  
</div>



<div class="column prepend-1 span-16 append-7 last">
  
  <h3>Yuri Baburov — head of the Web dep</h3>

  <p>Yuri is too shy to write a text for this page.</p>

  <h3>Maksim Ananjev</h3>

  <p>Maksim is too shy to write a text for this page.</p>

  <h3>Alexander Sheboltaev</h3>

  <p>I’m a member of our company’s software development team. Now I’m participating in Taskus development and in refactorings determination project. [подробнее про проекты]

  <p>I’m interested in all the programming languages stuff. [?] I think that text representation of a code is [...]. Считаю, что синтаксису языков уделяется слишком мало внимания и собираюсь это исправить. [ещё что-нибудь про свои представления о том, каким должно быть программирование]

  <p>Программирую всё время, сколько себя помню. [Конечно, сначала это были всякие кружочки на бейсике, тогда я ещё и циклов-то не знал] По-началу я и циклов-то не знал, поэтому копировал код и исправлял параметры :) [прикол в том, что строк было совсем не мало] Я прошёл [подобрать более подходящее слово] через такие языки [и среды], как Basic, Visual Basic, Delphi, Pascal, C, C++, C#. Немного знаком с Assembler’ом [x86], Smalltalk’ом, Ruby и Lisp’ом [?]. Сейчас программирую на Java и хочу попрогать на Objective-C.

  <p>Также я знаком с компьютерной графикой [или как это называется, вроде это что-то другое]. Принял участие в разработке логотипа компании.

  <p>Не так давно стал увлекаться музыкой. В частности, пою в хоре и собираюсь поступать в консерваторию [?].

  <h3>Leontiy Deriglazov</h3>

  <p>I am a software developer at YourSway LLC. Computer programming has become my passion since I’ve got my first PC in 1999. I am keen on tricky problems about programming and especially those that are practical. I like finding graceful solutions to them. The belief that they are useful is what moves me forward. Thus my general approach to software development consists in that I try doing things as easy as possible while preserving their practical value.</p>

  <p>My professional interests now lie in the area of static code analysis and creation of related developer tools. I took part in development of Eclipse dynamic languages toolkit (DLTK) in 2007 and, recently, have been engaged into development of YourSway SADR. Besides these major projects, I took part in development for POSIX-based systems, enjoyed C++ and Python languages and recently I’ve had a lucky opportunity to program with Objective-C and Cocoa.</p>

  <p>You might have already thought ‘What a geek is that guy!’. But programming is not all my life is about — I’m also fond sport. Workouts at a gym and swimming sessions make up my leisure time. I like keeping my shape and recently have brought this passion to our developer team. I believe it will contribute a lot to our team spirit.</p>

  <h3>Honorable Mention</h3>

  <p>These people were too shy to write some text for the site: Semen Bondarev, Ulja Tarantsova and Lisa Vaysman.</p>
  
</div>


{% endblock %}
