{% extends "../base.html" %}
{% block title %}Our team at YourSway{% endblock %}

{% block contents %}

<p><b>YourSway LLC</b><br>
	Novosibirsk, Russia<br>
	Tel.: +7 906 193 29 59 <br>
	Skype: andreyvit (our CTO)<br>
	E-mail: <a href="mailto:info@yoursway.com">info@yoursway.com</a>
</p>

<p>We’re a small team of developers focused on creating <b>smart development tools</b> and <b>enchanting user experiences</b>.
						
<img style="width: 630px; margin-top: 30px; margin-bottom: 30px;" src="/images/aboutus/yoursway-team.jpg">

<p>YourSway has been founded in 2006 … (todo: history).</p>

{% endblock %}
