{% extends "base.html" %}
{% block title %}Consulting services by YourSway{% endblock %}

{% block contents %}

<p style="float: right;">
	YourSway LLC<br>
	Novosibirsk, Russia<br>
	Tel.: +7 906 193 29 59 <br>
	Skype: andreyvit (our CTO)<br>
	E-mail: <a href="mailto:info@yoursway.com">info@yoursway.com</a>
</p>

<p>Success story: Esko DTL Debugger</p>

<p>We’re a small team of developers focused on creating <b>smart development tools</b> and <b>enchanting user experiences</b>.
<p>Our expertise is proved by the software we’re working on:
	<ul>
		<li>a <b>state-of-art IDE</b> for Ruby, Python and PHP,
		<li>an open-source <b>static analysis framework</b>,
		<li>numerous <b>client projects</b>,
		<li><b>contributions</b> to Eclipse SWT and DLTK projects.
	</ul>
<p>Our developers can pull up whatever ambitious projects you have on your mind. Please do <a href="mailto:info@yoursway.com">mail us</a> and we’ll work something out.
						
<p><b>Here’s what we can do for you.</b> (Full stack solutions on the left, individual activities on the right.)
							
<img style="width: 630px; margin-top: 30px; margin-bottom: 30px;" src="/media/images-cons/areas.png">

{% endblock %}
