{% extends "../base.html" %}
{% block title %}Consulting services by YourSway{% endblock %}

{% block contents %}

<p style="float: right;">
	YourSway LLC<br>
	Novosibirsk, Russia<br>
	Tel.: +7 906 193 29 59 <br>
	Skype: andreyvit (our CTO)<br>
	E-mail: <a href="mailto:info@yoursway.com">info@yoursway.com</a>
</p>

<p>We’re a small team of developers focused on creating <b>smart development tools</b> and <b>enchanting user experiences</b>.
	
<p>Our expertise is proved by the software we’re working on:
	<ul>
		<li>a <b>state-of-art IDE</b> for Ruby, Python and PHP,</li>
		<li>numerous open-source projects,</li>
		<li>an open-source <b>static analysis framework</b>,</li>
		<li>numerous <b>client projects</b>,</li>
		<li><b>contributions</b> to Eclipse SWT and DLTK projects.</li>
	</ul>
<p>Our developers can pull up whatever ambitious projects you have on your mind. Please do <a href="mailto:info@yoursway.com">mail us</a> and we’ll work something out.</p>
						
<p><b>Here’s what we can do for you.</b> (Full stack solutions on the left, individual activities on the right.)</p>
							
<img style="width: 630px; margin-top: 30px; margin-bottom: 30px;" src="/images/cons/areas.png">

<h1>Success story: Esko DTL IDE</h1>

<p>EskoArtwork has developed an in-house dynamically typed language in 80s. The language, called DTL, has been is use since them, allowing the company to smoothly transition from mainframes to microcomputers running DOS, Windows and then Mac OS X.</p>

<p>YourSway has developed a modern Eclipse-based IDE for the DTL language. The IDE features a syntax-highlighted source code editor, advanced code completion, static checking and advanced debugger integration.</p>

<p>The DTL IDE developed by YourSway includes a state-of-art type inferencing engine for DTL, which calculates  the necessary type information for code assistance and static checks.</p>

<p>The debugger part of the IDE provides a state-of-art debugger with all the standard features like stepping, breakpoints, watches and variables view. It also includes a few advanced features not commonly found in debuggers for dynamically-typed languages: Attach to Process and on-the-fly code reloading.</p>

{% endblock %}
