{% extends "../base.html" %}
{% block title %}Free tools by YourSway{% endblock %}

{% block contents %}

<div class="column prepend-1 span-14 append-9">

	<h2 class="alt">Relieving the pain of</h2>

</div>

<div class="column prepend-1 span-4 colborder">
	
	<h3 class="alt"><a class="quiet" href="#createdmg">fancy DMGs</a></h3>
	
	<p>Build a cool .dmg automatically. Custom background, specific icon positions, opens in the icon view. Integrates into the build process, but requires a Mac.</p>
	
	<div>
		<p>Version: 1.0.</p>
	</div>
	
</div>

<div class="column span-5 colborder">
	
	<h3 class="alt"><a class="quiet" href="#repackager">Eclipse/OSGi on a Mac</a></h3>
	
	<p>Turn a regular Eclipse, RCP or OSGi application into a proper Mac OS X bundle. Integrates into your build process.</p>
	
	<div>
		<p>Version: 1.2.</p>
	</div>
	
</div>

<div class="column span-4 colborder">
	
	<h3 class="alt"><a class="quiet" href="#builder">continuous builds</a></h3>
	
	<p>A hosted solution for continuous integration.</p>
	
	<div>
		<p>Coming soon. Current milestone: 0.1.</p>
	</div>
	
</div>

<div class="column span-4 last">
	
	<h3 class="alt"><a class="quiet" href="#updater">automatic updates</a></h3>
	
	<p>Smart software update SDK for Java applications.</p>
	
	<div>
		<p>Coming soon. Current milestone: 0.8.</p>
	</div>
	
</div>



<div class="column prepend-1 span-14 append-9">
	
	<hr class="space">

<h2><a name="createdmg"></a>Creating fancy Mac OS X .dmg's</h2>

<p><b>YourSway create-dmg</b> builds a .dmg for you with a custom image background, specified icon positions and set to open in the Icon View. <b>This tool requires a Mac</b> — unfortunately, no solution exists to create .dmg files on non-Mac platforms.</p>

<p>This tool is licensed under GNU General Public License, because it incorporates portions of GPL-licensed code from Adium repository. You can modify this program to suite your needs, but you have to provide the source code of any modifications upon request.</p>

<p>create-dmg 1.0 is available currently. That's a stable release, and is confirmed to work with Mac OS X Leopard.</p>
<ul>
	<li>Get the scripts in a zip: <a href="http://download.yoursway.com/yoursway-create-dmg-1.0.0.2.zip">yoursway-create-dmg-1.0.0.2.zip</a></li>
	<li>Check out the sources from <a href="http://github.com/andreyvit/yoursway-create-dmg/">our Git repository at GitHub</a></li>
</ul>
<p>Please file your bugs to our <a href="http://yoursway.lighthouseapp.com/projects/15884-create-dmg/overview">public bug tracker on Lighthouse</a>. If you have any questions, feel free to ask them in <a href="http://livechat.yoursway.com/">our Live Chat</a> or simply <a href="mailto:support@yoursway.com">mail them to us</a>.</p>



<h2><a name="repackager"></a>Running Eclipse and OSGi on a Mac</h2>
		
<p><b>YourSway Eclipse OS X Repackager</b> turns a regular Eclipse installation (or your RCP application, or your OSGi-based application) into a proper Mac OS X bundle which looks like a single file in Finder. Get the familiar experience, forget the multifile nightmare.</p>

<p>YourSway Eclipse OS X Repackager 1.2 is available currently. That's a stable release, and is confirmed to work with Eclipse 3.4-based applications.</p>
<ul>
	<li>Get the Mac OS X application: <a href="http://download.yoursway.com/yoursway-eclipse-osx-repackager-1.2.0.18.zip">yoursway-eclipse-osx-repackager-1.2.0.18.dmg</a></li>
	<li>Get a cross-platform console tool to integrate into your build process: <a href="http://download.yoursway.com/yoursway-eclipse-osx-repackager-1.2.0.18.zip">yoursway-eclipse-osx-repackager-1.2.0.18.zip</a></li>
	<li>Check out the sources from <a href="http://github.com/andreyvit/yoursway-eclipse-osx-repackager/">our Git repository at GitHub</a></li>
</ul>
<p>Please file your bugs to our <a href="http://yoursway.lighthouseapp.com/projects/15884-create-dmg/overview">public bug tracker on Lighthouse</a>. If you have any questions, feel free to ask them in <a href="http://livechat.yoursway.com/">our Live Chat</a> or just <a href="mailto:support@yoursway.com">mail them to us</a>.</p>



<h2><a name="builder"></a>Continuous Builds</h2>

<p>“Release early, release often” is not that easy once you realize you have to bring up a continuous builds system. And if you're starting new projects often, the maintenance of the build system takes quite some time.</p>

<p>Enter <b>YourSway Builder</b>. We created this tool with a single idea in mind: create a hosted solution for continuous builds, which would be as easy to maintain as hosted bug trackers and hosted source control systems are.</p>

<p>YourSway Builder runs on Google App Engine. We don't currently provide accounts on our installation, but you can sign up for your own Google App Engine account and upload our application in less than five minutes. That's it — no server management, no Apache configuration, no more broken email notifications or unavailable build systems.</p>

<p>You also need to deploy our client application on one or more builder machines. There's no reconfiguration or redeployment required to change the build process or even set up builds of a new project. The client is completely controlled from the Web application and even updates itself automatically, so you can forget about it once it's set up. (Estimated client deployment time: 5 minutes on a Mac, 20 minutes on Linux.)

<p>Everything else is controlled by a simple declarative script you upload into the running Web application.</p>

<p>YourSway Builder is currently being developed. Milestone 0.0 is finished, milestone 0.1 is almost finished (see the bug tracker). That's alpha quality, but we're actively using it here at YourSway.</p>
<ul>
	<!-- <li>Get the client and the server in a zip: <a href="#">yoursway-builder-0.1.zip</a></li> -->
	<li>Check out the sources from <a href="http://github.com/andreyvit/yoursway-builder/">our Git repository at GitHub</a></li>
</ul>
<p>Explore the existing issues, our future plans and file your bugs on <a href="http://yoursway.lighthouseapp.com/projects/15885-builder/overview">public bug tracker on Lighthouse</a>.</p>
<p>If you have any questions, feel free to ask them in <a href="http://livechat.yoursway.com/">our Live Chat</a> or just <a href="mailto:support@yoursway.com">mail us</a>.</p>



<h2><a name="updater"></a>Automatic Updates</h2>

<p><b>YourSway Software Update for Java.</b> Once you get to distributing your application publicly (or enterprise-wide), you have to think of a way for it to stay up-to-date while causing the least trouble to your beloved users. YourSway Software Update allows you to quickly add a reliable and powerful cross-platform update functionality to your application.</p>

<p>YourSway Software Update works with both plain Java applications and OSGi-based applications. In particular, it is compatible with Eclipse and Rich Client Platform apps.</p>

<p>We aimed to make a very simple user interface, but still pack in a few advanced features. YourSway Software Update gracefully handles a ton of exceptional conditions. You get a completely modeless UI by default, and you can replace it with a custom one if you like.</p>

<p>YourSway Software Update is licensed under Apache License 2.0, which means it is free for any use, you can distribute and/or modify it.</p>

<p>YourSway Software Update SDK is under active development at the moment. We are going to start using it in our projects in October'08.</p>
<ul>
	<!-- <li>Get the pre-built SDK: <a href="#">yoursway-software-update-sdk-0.0.zip</a></li> -->
	<li>Check out the sources from <a href="http://github.com/andreyvit/yoursway-builder/">our Git repository at GitHub</a></li>
</ul>
<p>If you have any questions, feel free to ask them in <a href="http://livechat.yoursway.com/">our Live Chat</a> or just <a href="mailto:support@yoursway.com">mail us</a>.</p>


</div>

{% endblock %}
