{% extends "layout-corchy.html" %}
{% block title %}Small tools by YourSway{% endblock %}

{% block contents %}

<p>
<img src="/media/images-corchy/corchy-promo.png" width="646" height="398" alt="Corchy screencast" align="left" style="margin-right: 0.66cm; margin-bottom: 0.33cm;">
This project is on a <b>very early stage</b> of development. 
We’re sharing a downloadable binary and a screencast to 
demonstrate the overall idea. Please try it and <a href="mailto:corchy-feedback@yoursway.com">share your opinion</a>.

<div style="padding-left: 30px;">
<p><b>Dead simple</b>:  “Project:”, “- task”, “@tag”
<p><b>Syncs</b> with Basecamp (and, in the future, many other bug trackers / web apps)
<p><b>Version control-friendly</b>:  keeps To-Dos in a plain text file
<p><b>Tagging</b>:  associate arbitrary metadata with your tasks
</div>

{% endblock %}
