<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>We build cross-platform, native, web and mobile applications — YourSway</title>
  <meta name="keywords" content="consulting,custom development,cross-platform,mac,windows,python,django,ruby on rails,yoursway" />
  <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
</head>
<body>
  
  <div id="our-team">
    <div id="logo">
      <img src="/images/yoursway-white-rtl-128.png" width="405" height="128" />
    </div>
    A team of five developers and&nbsp;one&nbsp;QA&nbsp;engineer&nbsp;in&nbsp;the&nbsp;middle of&nbsp;Siberia,
    offering&nbsp;contract&nbsp;development&nbsp;services.
  </div>
  
  
  <ul id="menu">
    <li><a href="/we/build/cross-platform/">Consulting</a></li>
    <li><a href="/we/build/cross-platform/">Our Team</a></li>
    <li><a href="/we/build/cross-platform/">Blog</a></li>
    <!-- <li>We build applications:</li> -->
    <!-- <li><a href="/we/build/cross-platform/">windows</a></li>
    <li><a href="/we/build/cross-platform/">mac</a></li>
    <li><a href="/we/build/cross-platform/">web</a></li>
    <li><a href="/we/build/cross-platform/">mobile</a></li> -->
    <!-- <li>Our products:</li> -->
    <li style="margin-left: 20px;"></li>
    <li><a href="/products/eclipse-osx-repackager/">Taskus</a></li>
    <li><a href="/products/crashkit/">CrashKit</a></li>
    <li><a href="/products/create-dmg/">create-dmg</a></li>
    <li><a href="/products/eclipse-osx-repackager/">Eclipse OS X Repackager</a></li>
    <!-- <li>For developers:</li> -->
    <!-- <li><a href="/libraries/kilim-osgi/">Kilim OSGi</a></li> -->
    <!-- <li><a href="/products/eclipse-osx-repackager/">Updater</a></li> -->
    <!-- <li>Other:</li> -->
    <!-- <li><a href="/we/">Our team</a></li> -->
  </ul>
  
  
  
  <!-- <hr class="wide" style="margin-top: 1em; margin-bottom: 2em;" /> -->
  
  <div id="news">
    <h1 class="first"><a href="http://crashkitapp.appspot.com/">CrashKit</a> beta launched<span class="title">News</span></h1>

    <p>Do you want to see the bugs your customers experience?</p>
    
    <p>
      YourSway starts beta testing of&nbsp;CrashKit,
      an&nbsp;<em>online&nbsp;crash reporting and&nbsp;analysis&nbsp;tool.</em>
    </p>
    
    <p>
      CrashKit collects unhandled exceptions and other error conditions
      from your applications and displays them on&nbsp;the&nbsp;web.
    </p>

    <p>
      Other features:
      Instant e-mail notifications.
      Smart grouping.
      Bug tracker integration.
      Support for <b>Java, Ruby, Python, PHP and JavaScript.</b>
    </p>
    
    <p>
      <b><a href="http://crashkitapp.appspot.com/#signup">Sign up</a></b> for the limited beta program now,
      and we'll let you in within a month.
      Or learn more about the <a href="http://crashkitapp.appspot.com">six reasons</a> why you need CrashKit.
    </p>
    
    <h1>Other products</h1>
    <p>
      <em class="name"><a href="/products/create-dmg/">create-dmg</a></em>
      builds fancy Mac .dmg disk images with custom backgrounds and icon positions.
    </p>
    <p>
      <em class="name"><a href="/products/repackager/">Eclipse OS X Repackager</a></em>
      turns Eclipse or any other RCP application
      into a proper Mac&nbsp;OS&nbsp;X bundle which looks like a single file in Finder.
    </p>
    
    <!-- <h1>Libraries for developers</h1>
    <p>
      <em class="name">Kilim OSGi</em>
      brings Kilim into Eclipse. Kilim is an implementation of Erlang-style
      actor concurrency model, uses Java byte code instrumentation.
    </p> -->
    
  </div>
  
  <!-- <div id="our-products"> -->
  
  <!-- <hr class="bigskip" style="" /> -->
  
  <div id="hire-us">
    <h1>Hire us to build your product</h1>
    <p>
      We build <em>cross-platform</em>, <em>native</em>, <em>web</em> and <em>mobile</em> applications.
    </p>
    <p>
      We value 
      usability of&nbsp;interfaces,
      efficiency of&nbsp;communications,
      maintainability of&nbsp;sources,
      modularity of&nbsp;architectures,
      reliability of&nbsp;partners,
      testability of&nbsp;components,
      agility of&nbsp;processes,
      satisfaction of&nbsp;customers.
    </p>
    <h3>Cross-platform?</h3>

    <p>Thinking of an <b>IDE</b> for your in-house language or other custom development tools?</p>

    <blockquote><p>We are the initial committers and contributors to the Eclipse Dynamic Languages Toolkit project. We know a hell lot about language tools, static analysis and type inferencing. Learn <a href="ide/">more about IDE development</a> or <a href="#contact">contact us</a>.</p></blockquote>

    <h3>Native?</h3>

    <p>Looking for someone to build you a <b>Web</b> application or a <b>desktop</b> application for Mac and Windows? Or are you looking for both?</p>

    <blockquote><p>Many people actually want to get both desktop and Web presence: a Web application and a desktop widget, or a desktop application with a lightweight Web app to use on the go. We know that the distinction between desktop and web blends, and we have professionals in both areas to bring you the best integrated solutions possible. Learn <a href="mashups/">more about desktop <span class="alt">&</span> Web development</a> or <a href="#contact">contact us</a>.</p></blockquote>

    <h3>Web?</h3>

    <p>Looking for someone to build you a <b>Web</b> application or a <b>desktop</b> application for Mac and Windows? Or are you looking for both?</p>

    <blockquote><p>Many people actually want to get both desktop and Web presence: a Web application and a desktop widget, or a desktop application with a lightweight Web app to use on the go. We know that the distinction between desktop and web blends, and we have professionals in both areas to bring you the best integrated solutions possible. Learn <a href="mashups/">more about desktop <span class="alt">&</span> Web development</a> or <a href="#contact">contact us</a>.</p></blockquote>

    <h3>Mobile?</h3>

    <p>Excited about the <b>iPhone</b>? Want to bring your application to iPhone?</p>

    <blockquote><p>We're using all our Mac OS X development and user interactions design expertise for iPhone consulting. Expect amazing results! Learn <a href="iphone/">more about iPhone development</a> or <a href="#contact">contact us</a>.</p></blockquote>
      
    </p>
  </div>
  
  <div style="margin-top: 10em;">&nbsp;</div>
  
  <!-- <p>Our&nbsp;mission is to provide kick-ass tools to every software developer in the world.</p> -->
  <div class="column prepend-1 span-11">


    <p>
      We offer a wide range of contract development services.
      We build <b>cross-platform, native, web and mobile applications.</b>
    </p>

    <p>
     
    </p>

    <hr class="space" />

  </div>

  <div class="column prepend-2 span-10 last">

    &nbsp;

  </div>

  <div class="column prepend-1 span-11">

    <h2>Hire us to build your product</h2>


    <hr />

    <a name="contact"></a>
    <iframe height="665" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="http://yoursway.wufoo.com/embed/z7x4m1/"><a href="http://yoursway.wufoo.com/forms/z7x4m1/" title="Get in touch">Get in touch with us »</a></iframe>


  </div>

  <div class="column prepend-2 span-10 last">

    <h2><a href="http://crashkitapp.appspot.com/">CrashKit</a> <span class="badge">(limited beta)</span></h2>

    <p>Do you want to know about the bugs your customers experience?</p>

    <p><b>Log exceptions and view them on the web.</b> Instant e-mail notifications. Smart grouping.
      Bug tracker integration.</p>

    <p><b>Java, Ruby, Python, PHP and JavaScript</b> are supported.
      You are five minutes away from the peace of mind and a happy inbox.</p>

    <p><b><a href="http://crashkitapp.appspot.com/#signup">Sign up</a></b> for the limited beta program now,
      and we'll let you in within a month.
      Or learn more about the <a href="http://crashkitapp.appspot.com">six reasons</a> why you need CrashKit.
    </p>

    <hr />

    <h2><a href="/products/create-dmg">create-dmg</a> <span class="badge">(free)</span></h2>

    <p>
      Builds a cool .dmg automatically.
      Custom background, specific icon positions, opens in the icon view.
      Integrates into the build process, but requires a Mac.
    </p>

    <hr />

    <h2><a href="/products/projectsync">ProjectSync</a> <span class="badge">(free)</span></h2>

    <p>
      An Eclipse plug-in to help you use multiple source repositories.
      Auto-import new projects. Map working sets to repository directories.
    </p>

    <hr />

    <h2>Eclipse OS X Repackager <span class="badge">(free)</h2>

    <p>
      
    </p>

    <p>
      Get the familiar experience, forget the multifile nightmare.
    </p>


  </div>
</body>  
</html>
