{% extends "../base.html" %}
{% block title %}Ruby/Python/PHP IDEs, productivity tools and consulting — that's YourSway{% endblock %}

{% block contents %}

<h1>Taskus</h1>

<p><a href="/taskus/">Taskus</a>: All your tasks in one place.</p>

<p>Gathers all your tasks from all your bug trackers and To-Do lists, and allows to view them together. Better yet, you can make changes quickly and easily, and then sync back!</p>

<h1>Consulting</h1>



<p>We are focused on creating <b>smart development tools</b> and enchanting user experiences. We build productivity tools, development environments and language analysis tools. We also provide generic custom development for solving any complex problems of yours, focusing on desktop applications.</p>
	
<p>We value clean interfaces most of all. We strike for usability. We employ Agile methodologies. We love clean code and do a lot of tests.</p>

<p><a href="/consulting/">Success story: Esko DTL IDE.</p>

{% endblock %}
