<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>We build cross-platform, native, web and mobile applications — YourSway</title>
  <meta name="keywords" content="consulting,custom development,cross-platform,mac,windows,python,django,ruby on rails,yoursway" />
  <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.2/jquery-ui.min.js"></script>
  -->
  <script src="/javascript/jquery.min.js"></script>
  <script src="/javascript/jquery-ui.min.js"></script>
  <script src="/javascript/jquery.timers.js"></script>
</head>
<body>
  
  <div id="cloud">

    <div id="identity">
      <img src="/images/yoursway-white-rtl-128.png" width="405" height="128" />
      <p>
        A team of five developers and one QA engineer in  Siberia,
        offering contract development services.
      </p>
    </div>

  <div class="bundle" id="b-users">
    <h2><a href="/values/people/">People</a></h2>
    <div class="desc">
      Successful software helps real people excel at&nbsp;something.
      <p>This takes a lot of thinking at every moment of software development.</p>
         We build applications that get out of the way
      and focus on making users happier.</p>
      <p>Learn <a href="/values/people">what it takes to create user-friendly software</a>.</p>
    </div>
  </div>

  <div class="bundle" id="b-challenge">
    <h2><a href="/our/challenges/">Challenge</a></h2>
    <div class="desc">
      We love to invent new concepts,
      scale to thousands of users,
      refactor huge applications
      and solve problems that frighten everyone else.
      
      <p>We also love to satisfy every need of our customers
      and build software that helps people kick ass.</p>
      
      <p>Life would be empty without these challenges.
        See <a href="/our/challenges/">what accomplishments we are proud about</a>.</p>
    </div>
  </div>


  <div class="bundle" id="b-brain">
    <h2 class="small">Brain</h2>
    <div class="desc">
      — is an indispensable ingredient of good software.
      We often say we do “brain-driven development”.
      Our team consists of the smartest people we could get.
      <p>Why do we think that good software cannot be made by average developers?</p>
    </div>
  </div>

  <div class="bundle" id="b-experience">
    <h2>Experience</h2>
    <div class="desc">
      — is what every person on our team has a lot of.
    </div>
  </div>

  <div class="bundle" id="b-risks">
    <h2 class="small">Risks</h2>
    <div class="desc">
      — are things that kill software projects. We know how to fight them.
      <p>How do we protect against common risks?</p>
    </div>
  </div>

  <div class="bundle" id="b-mac">
    <h2><a href="/values/mac/">Mac</a></h2>
    <div class="desc">
      We love Macs, we use Macs, we share the values of the Mac community.
      <p>If you want a Mac OS X application,
      we can help you build the one that fits best into the platform.</p>
      <p><a href="/values/mac/">How do Mac applications differ from Windows ones?</a></p>
    </div>
  </div>

  <div class="bundle" id="b-iphone">
    <h2><a href="/knows/iphone/">iPhone</a></h2>
    <div class="desc">
      Starting iPhone development is easy.
      Creating finished classy applications is not.
      <p>
        We will:<br>
        • design the appropriate user experience;<br>
        • build a quality application according to all guidelines and best practises.
      </p>
      <p><a href="/knows/iphone/">7 things to know before considering the iPhone platform</a></p>
    </div>
  </div>

  <div class="bundle" id="b-eclipse">
    <h2>Eclipse</h2>
    <div class="desc">
      — we are so cool, why don't we have any money :(
    </div>
  </div>

  <div class="bundle" id="b-developers">
    <h2 class="small">Developers</h2>
    <div class="desc">
      — are people who are like us.
      That’s why we know what developers need,
      and that’s why we can make great tools for them.
      We say that our mission is to provide kick-ass tools
      to every software developer in the world.
      <p>What tools do we have for developers?</p>
    </div>
  </div>

  <div class="bundle" id="b-appengine">
    <h2 class="small"><a href="/loves/appengine/">Google App Engine</a></h2>
    <div class="desc">
      Google App Engine is the best cloud computing platform for many projects:
      convenient, cost-effective and reliable.</p>
      <p>We use App Engine for all our web projects, and can help you do that too.</p>
      <p><a href="/loves/appengine/">Should I run my application on Google App Engine?</a></p>
    </div>
  </div>

  <div class="bundle" id="b-agile">
    <h2 class="small">Agile</h2>
    <div class="desc">
      — is the name for the new style of software development
      that deals with the reality of software business and software developers,
      instead of trying to push software into the limits of the traditional manufacturing processes.
    </div>
  </div>

  <div class="bundle" id="b-crashreporting">
    <h2>Crash Reporting</h2>
    <div class="desc">
      — used to be a pain, until we have solved it with our CrashKit product.
      <p>Why did we build CrashKit?</p>
    </div>
  </div>

  <div class="bundle" id="b-simplicity">
    <h2 class="small">Simplicity</h2>
    <div class="desc">
      — is an important quality of good software.
      Overengineering kills projects, drains budgets
      and make a horrible user experience.
      <p>How do we avoid overengineering?</p>
    </div>
  </div>
  
  <div class="bundle" id="b-web">
    <h2 class="small">Web Applications</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-crossplatform">
    <h2 class="small">Cross-platform</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-communication">
    <h2 class="small">Communication</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-opensource">
    <h2 class="">Open source</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-ide">
    <h2 class="">IDE</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-analysis">
    <h2 class="small">Language Analysis</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-android">
    <h2 class="small">Google Android</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-siberia">
    <h2 class="small">Siberia</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-python">
    <h2 class="small">Python</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-django">
    <h2 class="small">Django</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-swt">
    <h2 class="">SWT</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-usability">
    <h2 class="small">Usability</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-refactoring">
    <h2 class="small">Refactoring</h2>
    <div class="desc">
    </div>
  </div>
  
  <div class="bundle" id="b-databases">
    <h2 class="small">Databases</h2>
    <div class="desc">
    </div>
  </div>
  
  <!--
  <div class="bundle" id="b-">
    <h2 class="small"></h2>
    <div class="desc">
    </div>
  </div>
  -->
  
  </div>
  
  <div id="footer">
    <div class="link">
      <a href="/our/team/">Who are we?</a>
    </div>
    <div class="link">
      <a href="/our/products/">Our products</a>
    </div>
    <div class="link">
      <a href="/dev/">Stuff for developers</a>
    </div>
    <div class="link">
      <a href="/contact/">Contact us</a>
    </div>
    <div class="link">
      <a href="http://blog.yoursway.com/">Blog</a>
    </div>
  </div>

  <script>
  $(function() {
    var visibleBundle = null;
    var slideQueue = $.makeArray($('.bundle'));
    var visibleSlides = new Array();
    // var storyMode = false;
    
    function bundleArea(b) {
      var desc = $('.desc', b);
      var h2 = $('h2', b);
      
      var wasHidden = desc.is(':hidden');
      if (wasHidden)
        $(desc).css('display', 'block').css('visibility', 'hidden');
      var headerOffset = $('h2', b).offset();
      var headerTop = headerOffset.top, headerHeight = h2[0].offsetHeight;
      var descHeight = desc[0].offsetHeight;
      var descWidth = desc[0].offsetWidth;
      var footerTop = $('#footer').offset().top;
      console.log("headerTop = " + headerTop + "; headerHeight = " + headerHeight + "; descHeight = " + descHeight + "; footerTop = " + footerTop);
      if (wasHidden)
        $(desc).css('display', 'none').css('visibility', '');
      // ??!! headerTop behaves as headerBottom here
      var descTop = (headerTop + headerHeight + descHeight > footerTop ? headerTop - headerHeight - descHeight : headerTop);
      var descLeft = headerOffset.left;
      if (descLeft + descWidth > document.body.offsetWidth - 10)
        descLeft = document.body.offsetWidth - descWidth - 10;
      return {'top': descTop, 'left': descLeft, 'bottom': descTop + descHeight, 'right': descLeft + descWidth};
    }
    
    function elementArea(h2) {
      var wasHidden = $(h2).is(':hidden');
      if (wasHidden)
        $(h2).css('display', '').css('visibility', 'hidden');
      var offset = h2.offset();
      var result =  {'top': offset.top, 'left': offset.left, 'bottom': offset.top+h2[0].offsetHeight, 'right':offset.left+h2[0].offsetWidth};
      if (wasHidden)
        $(h2).css('display', 'none').css('visibility', '');
      return result;
    }
    
    function ptinrect(x, y, r) {
      return x >= r.left && x <= r.right && y >= r.top && y <= r.bottom;
    }
    
    function intersects(a, b) {
      return ptinrect(a.left, a.top, b) || ptinrect(a.right, a.top, b) || ptinrect(a.left, a.bottom, b) || ptinrect(a.right, a.bottom, b)
          || ptinrect(b.left, b.top, a) || ptinrect(b.right, b.top, a) || ptinrect(b.left, b.bottom, a) || ptinrect(b.right, b.bottom, a);
    }
    
    function rect2str(r) {
      return '(' + r.left + ',' + r.top + ')-(' + r.right + ',' + r.bottom + ')';
    }
    
    function updateHeaderVisibility(timeout) {
      console.log("----");
      var fade = {};
      $('.bundle').each(function() {
        fade[this.id] = false;
      });
      var touchesLogo = false;
      $.each(visibleSlides, function() {
        console.log('Visible: ' + this.id);
        var area = bundleArea(this);
        if (intersects(elementArea($('#identity')), area))
          touchesLogo = true;
        $('.bundle').each(function() {
          if ($('.desc', this).is(':visible'))
            return;
          var headerArea = elementArea($('h2', this));
          if (intersects(headerArea, area))
            fade[this.id] = true;
        });
      });
      for(id in fade) {
        var h2 = $('h2', $('#'+id));
        if (fade[id]) 
          console.log('FADE ' + id);
        else if (h2.is(':hidden'))
          console.log('UNFADE ' + id);
        // if (h2.is(':visible') == fade[id])
          if (fade[id])
            h2.fadeOut(timeout);
          else
            h2.fadeIn(timeout);
      }
      
      if (touchesLogo)
        $('#identity').animate({'opacity': '0.33'}, timeout);
      else
        $('#identity').animate({'opacity': '1'}, timeout);
        // $('#identity').fadeIn(timeout);
    }

    function showSlide() {
      // if (storyMode) return;
      if ($('.bundle.interactive').length) return;
      while (visibleSlides.length >= 2) {
        var slide = $(visibleSlides.shift());
        if (!slide.is('.interactive'))
        slide.hideBundleRaw(1000);
      }
      while (visibleSlides.length < 2) {
        var b = slideQueue.shift();
        slideQueue.push(b);
        
        if ($('h2', b).is(':hidden'))
          continue;
        var area = bundleArea(b);
        var good = true;
        for(var i = 0; i < visibleSlides.length; i++)
          if(intersects(elementArea($('h2', visibleSlides[i])), area) 
              || $('.desc', visibleSlides[i]).is(':visible') && intersects(elementArea($('.desc', visibleSlides[i])), area))
            good = false;
        if (!good)
          continue;
        $(b).showBundleRaw(1000, false);
        visibleSlides.push(b);
      }
      updateHeaderVisibility(1000);
    }
    function showBundleRaw(timeout, force) {
      if ($('.desc', this).is(':hidden')) {
        var id = $(this)[0].id;
        var area = bundleArea(this);
        var fade = [], good = true;
        $('.bundle').each(function() {
          if (this.id == id)
            return;
          var headerArea = elementArea($('h2', this));
          var visible = $('.desc', this).is(':visible');
          if (visible)
            if (intersects(headerArea, area) || intersects(elementArea($('.desc', this)), area))
              good = false;
        });
        if (!good && !force)
          return false;
        // $('.desc', this).css('background', 'red');
        $('.desc', this).css('top', area.top+'px');
        // $('.desc', this).css('top', $('h2', this).css('top'));
        $('.desc', this).css('left', area.left+'px');
        // $('.desc', this).css('width', (area.right-area.left)+'px');
        // $('.desc', this).css('right', $('h2', this).css('right'));
        $('.desc', this).fadeIn(timeout);
        $('h2', this).animate({'color': '#000000'}, timeout);
      }
      return true;
    }
    function hideBundleRaw(timeout) {
      if ($('.desc', this).is(':visible')) {
        $('.story', this).stopTime();
        $('.story', this).hide();
        $('.desc', this).fadeOut(timeout);
        $('h2', this).animate({'color': '#777777'}, timeout);
      }
    }
    function hideBundle() {
      while (visibleSlides.length)
        visibleSlides.pop();
      $(this).hideBundleRaw(500);
      $(this).removeClass('interactive');
      updateHeaderVisibility(500);
    }
    function showBundle() {
      $('.bundle').not('.interactive').not(this).hideBundleRaw(500);
      while (visibleSlides.length)
        visibleSlides.pop();

      $(this).showBundleRaw(500, true);
      $(this).addClass('interactive');
      visibleSlides.push(this);
      updateHeaderVisibility(1000);
    }
    function showBubble() {
      $(this).addClass("storymod");
    }

    jQuery.fn.extend({hideBundle:hideBundle, showBundle:showBundle, 
      showBundleRaw:showBundleRaw, hideBundleRaw:hideBundleRaw,
      showBubble: showBubble});

      $('.desc').hide();
      $('.story').hide();
      $('.bundle h2').css('color', '#777777');
      $('.bundle').mouseout(function() {
        // if (storyMode) return;
        $(this).oneTime(300, "hide", hideBundle);
        $(document).stopTime("slideshow");
        $(document).everyTime(5000, "slideshow", showSlide);
      }).mouseover(function() {
        // if (storyMode) return;
        $(this).stopTime("hide");
        $(this).showBundle();
      });
      // .click(function() {
      //         if (storyMode) {
      //           storyMode = false;
      //           $('.story', this).hide();
      //           $('#cloud').animate({'width': '100%'}, 500, function() {
      //           });
      //           return;
      //         }
      //         storyMode = true;
      //         $(document).stopTime("slideshow");
      //         $('.bundle').hideBundleRaw();
      //         
      //         $('#cloud').animate({'width': '50%'}, 500, function() {
      //           $('.story', this).show(); //animate({'width': '88%'}, 1000);
      //         });
      //         // $('#stories', this).css('width', '0%'); // .css('left', '100%');
      //       });
      // $('.story').click(function() {
      //   storyMode = false;
      //   $(document).everyTime(5000, "slideshow", showSlide);
      // });

      $(document).oneTime(1000, "initial", function() {
        // showSlide();
        // $(document).everyTime(5000, "slideshow", showSlide);
      });
    })
    </script>

  </body>  
  </html>
