<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>We build cross-platform, native, web and mobile applications — YourSway</title>
  <meta name="keywords" content="consulting,custom development,cross-platform,mac,windows,python,django,ruby on rails,yoursway" />
  <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.2/jquery-ui.min.js"></script>
  <script src="/javascript/jquery.timers.js"></script>
</head>
<body>

  <div id="cloud">

    <div id="identity">
      <img src="/images/yoursway-white-rtl-128.png" width="405" height="128" />
      <p>A team of five developers and one QA engineer in the middle of Siberia,
        offering contract development services.</p>
      </div>

      <div class="bundle" id="b-users">
        <h2>Users</h2>
        <div class="desc">
          — is whom we care about, above all else.
          The purpose of every application is to make someone happier.
          To let them do things they couldn’t do before.
          To take away the chores and let them care about the fun stuff.
        </div>
        <div class="bubble">
          <div class="teaser">
            How do we care about the users of our software?
          </div>
          <div class="story">
            <p>
              We take user interaction design seriously.
              We study use cases, do usability testing and apply the theory of usability.
              We recognize that users are most productive in flow state, and work hard to keep it.
            </p>
            <p>
              We consider the impact on end users when making design decisions.
              We carefully design error handling strategy.
              We make sure our software does not break when users run out of disk space,
              suffer power outages, disconnect removable devices and move their laptops around.
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-challenge">
        <h2>Challenge</h2>
        <div class="desc">
          — is what drives us, and what we are looking for.
          We love to invent new concepts,
          scale to thousands of users,
          refactor huge applications,
          meet impossibly tight deadlines
          and solve problems that frighten everyone else.
        </div>
        <div class="bubble">
          <div class="teaser">
            Why do we think that every project is challenging?
          </div>
          <div class="story">
            <p>
              Every project is challenging because every project benefits from us doing our best.
              Most need the best user experience possible and a well-designed, maintainable code.
              Some need a prototype out fast.
              Meeting the unique needs of every customer is never easy,
              and so that’s what we love to do.
            </p>
          </div>
        </div>
      </div>


      <div class="bundle" id="b-brain">
        <h2 class="small">Brain</h2>
        <div class="desc">
          — is an indispensable ingredient of good software.
          We often say we do “brain-driven development”.
          Our team consists of the smartest people we could get.
        </div>
        <div class="bubble">
          <div class="teaser">
            Why do we think that good software cannot be made by average developers?
          </div>
          <div class="story">
            <p>
              Smart people make smart decisions.
              It only takes one lousy component to make the whole application unstable,
              and it takes one louse screen to break the user’s flow state.
              So we need to get lots of big and small decisions right,
              we need to not overlook thousands of corner cases and possible error conditions.
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-experience">
        <h2>Experience</h2>
        <div class="desc">
          — is what every person on our team has a lot of.
        </div>
        <div class="bubble">
          <div class="teaser">
            ?
          </div>
          <div class="story">
            <p>
              ?
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-risks">
        <h2 class="small">Risks</h2>
        <div class="desc">
          — are things that kill software projects. We know how to fight them.
        </div>
        <div class="bubble">
          <div class="teaser">
            How do we protect against common risks?
          </div>
          <div class="story">
            <p>
              ?
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-mac">
        <h2>Mac</h2>
        <div class="desc">
          — is the platform we love using, and the one we love developing for.
        </div>
        <div class="bubble">
          <div class="teaser">
            hm
          </div>
          <div class="story">
            <p>
              hm
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-iphone">
        <h2>iPhone</h2>
        <div class="desc">
          — hm
        </div>
        <div class="bubble">
          <div class="teaser">
            hm
          </div>
          <div class="story">
            <p>
              hm
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-eclipse">
        <h2>Eclipse</h2>
        <div class="desc">
          — hm
        </div>
        <div class="bubble">
          <div class="teaser">
            hm
          </div>
          <div class="story">
            <p>
              hm
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-developers">
        <h2 class="small">Developers</h2>
        <div class="desc">
          — hm
        </div>
        <div class="bubble">
          <div class="teaser">
            hm
          </div>
          <div class="story">
            <p>
              hm
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-appengine">
        <h2 class="small">Google App Engine</h2>
        <div class="desc">
          — is our cloud computing platform of choice.
          We're running all our web applications on it,
          and will happily help you to do that also.
        </div>
        <div class="bubble">
          <div class="teaser">
            hm
          </div>
          <div class="story">
            <p>
              hm
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-agile">
        <h2 class="small">Agile</h2>
        <div class="desc">
          — is the name for the new style of software development
          that deals with the reality of software business and software developers,
          instead of trying to push software into the limits of the traditional manufacturing processes.
        </div>
        <div class="bubble">
          <div class="teaser">
            What agile practises to we use?
          </div>
          <div class="story">
            <p>
              hm
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-crashreporting">
        <h2>Crash Reporting</h2>
        <div class="desc">
          — is a problem we have solved by our CrashKit product.
        </div>
        <div class="bubble">
          <div class="teaser">
            Why did we build CrashKit?
          </div>
          <div class="story">
            <p>
              hm
            </p>
          </div>
        </div>
      </div>

      <div class="bundle" id="b-simplicity">
        <h2 class="small">Simplicity</h2>
        <div class="desc">
          — is an important quality of good software.
          Overengineering kills projects, drains budgets
          and make a horrible user experience.
        </div>
        <div class="bubble">
          <div class="teaser">
            How do we avoid overengineering?
          </div>
          <div class="story">
            <p>
              You need to think before you code.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="link">
        <a href="/essays/">Read all essays</a>
      </div>
      <div class="link">
        <a href="/products/">Our products</a>
      </div>
      <div class="link">
        <a href="/dev/">Stuff for developers</a>
      </div>
      <div class="link">
        <a href="/contact/">Contact us</a>
      </div>
      <div class="link">
        <a href="http://blog.yoursway.com/">Blog</a>
      </div>
    </div>

    <script>
    $(function() {
      var visibleBundle = null;
      var slideQueue = $.makeArray($('.bundle'));
      var visibleSlides = new Array();

      function showSlide() {
        if ($('.bundle.interactive').length)
          return;
        while (visibleSlides.length >= 2) {
          var slide = $(visibleSlides.shift());
          if (!slide.is('.interactive'))
            slide.hideBundleRaw(1000);
        }
        while (visibleSlides.length < 2) {
          var b = slideQueue.shift();
          slideQueue.push(b);
          $(b).showBundleRaw(1000);
          visibleSlides.push(b);
        }
      }
      function showBundleRaw(timeout) {
        if ($('.desc', this).is(':hidden')) {
          $('.desc', this).fadeIn(timeout);
          $('h2', this).animate({'opacity': 1.0}, timeout * 3 / 5);
        }
      }
      function hideBundleRaw(timeout) {
        if ($('.desc', this).is(':visible')) {
          $('.bubble', this).stopTime();
          $('.bubble', this).hide();
          $('.desc', this).fadeOut(timeout);
          $('h2', this).animate({'opacity': 0.66}, timeout);
        }
      }
      function hideBundle() {
        $(this).hideBundleRaw(500);
        $(this).removeClass('interactive');
      }
      function showBundle() {
        $('.bundle').not('.interactive').hideBundleRaw(500);
        $(this).showBundleRaw(500);
        $(this).addClass('interactive');
        $('.bubble', this).removeClass('storymod').oneTime(500, function() {
          $(this).fadeIn(500);
        });
      }
      function showBubble() {
        $(this).addClass("storymod");
      }

      jQuery.fn.extend({hideBundle:hideBundle, showBundle:showBundle, 
        showBundleRaw:showBundleRaw, hideBundleRaw:hideBundleRaw,
        showBubble: showBubble});
      
      $('.desc').hide();
      $('.bubble').hide();
      $('.bundle h2').css('opacity', 0.66);
      $('.bundle').mouseout(function() {
        $(this).oneTime(300, "hide", hideBundle);
      }).mouseover(function() {
        $(this).stopTime("hide");
        $(this).showBundle();
      }).click(function() {
        $('.bubble', this).showBubble();
      });
      $('.bubble').mouseover(showBubble);
      
      showSlide();
      $(document).everyTime(5000, showSlide);
    })
    </script>

  </body>  
  </html>
