{% extends "../base.html" %}
{% block title %}Static Analysis Done Right — in days, not years (by YourSway){% endblock %}

{% block contents %}

<div style="height: 160px; width: 400px; display: block;">
	<p style="font-size: 25px; line-height: 25px;">Powerful static analysis done in weeks
	will be a reality. Soon.
	<p>And the reality will be open-source.
		
	<a href="#"><img src="/images/sadr/tutorial.png" style="position: absolute; top: 140px; left: 450px;"></a>
	<a href="#"><img src="/images/sadr/download.png" style="position: absolute; top: 180px; left: 450px;"></a>
	<a href="#"><img src="/images/sadr/wiki.png" style="position: absolute; top: 220px; left: 450px;">	</a>
	
</div>

<div>
	<p>SADR is designed from ground up to power our own multi-language IDE and to adhere to our high quality standards.
	<p>We're currently working on a <b>building  blocks</b> support. SADR will allow you to <b>reuse</b> existing parts of the analysis implementations by composing your engine as a set of building blocks. You <b>won't ever reimplement</b> local variables or function closures again.
	<p>Examples of the building blocks are:
		<ul>
		<li>local variables (Ruby, PHP)
		<li>global variables
		<li>scoped variable (Python, JavaScript, Pascal, C)
		<li>first-class functions (Python, JavaScript)
		<li>message passing (Ruby, Objective C, Small Talk)
		</ul>
	<p>	Other cool features already working or planned to be implemented soon are:
		<ul>
			<li>automatic incremental analysis (no work needed from language implementor’s part)
		<li>on-demand + locally iterative analysis with automatic hot switching
		<li>infrastructure for adding explicit custom heuristic decision-making algorithms
		<li>smart design — forget casts and switches
			</ul>
	
		
		
</div>
				
{% endblock %}
