{% load i18n %}
{% load pagination %}
{% if month or day or year %}

    {% if day %}
        {% with previous_day as pd %}{% if pd %}<a href="{% url day_archive year=pd.year,month=pd|get_month,day=pd|get_day %}">{% trans "Previous day" %}</a>{% endif %}{% endwith %}
        {% with next_day as nd %}{% if nd %}<a href="{% url day_archive year=nd.year,month=nd|get_month,day=nd|get_day %}">{% trans "Next day" %}</a>{% endif %}{% endwith %}
    {% endif %}

    {% if month %}
    {% with previous_month as pm %}{% if pm %}<a href="{% url month_archive year=pm.year,month=pm|get_month %}">{% trans "Previous month" %}</a>{% endif %}{% endwith %}
        {% with next_month as nm %}{% if nm %}<a href="{% url month_archive year=nm.year,month=nm|get_month %}">{% trans "Next month" %}</a>{% endif %}{% endwith %}
    {% endif %}

    {% comment %}
    <!-- current djanog trunk does not support prev/next dates in year arhcive -->
    {% if year %}
        {% with previous_year as py %}{% if py %}<a href="{% url year_archive year=py.year %}">{% trans "Previous year" %}</a>{% endif %}{% endwith %}
        {% with next_year as ny %}{% if ny %}<a href="{% url year_archive year=ny.year %}">{% trans "Next year" %}</a>{% endif %}{% endwith %}
    {% endif %}
    {% endcomment %}

{% else %}
    {% pagination %}
{% endif %}
