{% extends "base.html" %}
{% load i18n %}
{% load pagination %}

{% block title %}{% trans "Posts" %}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/highlight.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/highlight.js"></script>
<script type="text/javascript">initHighlightingOnLoad('html', 'css', 'python');</script>
{% if tag %}
    <link rel="alternate" type="application/rss+xml" title="{{ settings.BLOG_NAME }}: posts with tag '{{ tag }}' feed" href="{% url feed feedurl %}" />
{% endif %}
{% endblock %}

{% block content %}

{% filter typogrify %}
  {% if year %}<h1>{% trans "Archive for" %} {{ year }}</h1>{% endif %}
  {% if month %}<h1>{% trans "Archive for" %} {{ month|date:"F, Y" }}</h1>{% endif %}
  {% if day %}<h1>{% trans "Archive for" %} {{ day|date:"F d, Y" }}</h1>{% endif %}

  {% if tag %}<h1>{% trans "All articles, tagged with" %} "{{ tag }}"</h1>{% endif %}
{% endfilter %}

{% for object in object_list %}
    {% include "blog/post_entry.html" %}
{% endfor %}

{% include "blog/next.html" %}

{% endblock %}
