{% load i18n %}
{% load tagging_tags %}

<div class="sidebar">
<dl class="sidebardl">
    <dt>Navigation</dt>
    <dd><a href="/" title="Today&#39;s entry">Today</a></dd>
    <dd><a href="/2007/" title="Archives 2007">Archives 2007</a></dd>
    <dd><a href="/2006/" title="Archives 2006">Archives 2006</a></dd>
</dl>
</div>

<!-- 
<div class="sidebar">
    <dl class="sidebardl">
    <dt>Search</dt>
    <dd>{{ searchform }}</dd>
    </dl>
</div>
-->

{% include "login.html" %}

<div class="sidebar">
<dl class="sidebardl">
    <dt>Categories</dt>
    {% tag_cloud_for_model blog.post as categories %}
    {% for cat in categories %} 
    <dd>
        <a href="{{cat.get_absolute_url}}"> {{cat.get_name}} </a> 
    </dd>
    {% endfor %}
</dl>
</div>

<div class="sidebar">
    <dl class="sidebardl">
    <dt>{% trans "Last comments" %}</dt>
    {% if comments %}
	    {% for c in comments %}
            <dd>
	        <nobr>{{c.pub_date|date:"M d"}}, {{ c.user.name }}</nobr>
	        <a title='{{c.pub_date|date:"M d, Y"}}: {{c.object.name }}'
		href="{{c.get_absolute_url}}">
		{{c.object.name}}</a>
	    </dd>
    	    {% endfor %}
    {% endif %}
    </dl>
</div>

<div class="sidebar">
    <dl class="sidebardl">
    <dt>{% trans "Last posts" %}</dt>
    {% if last_posts %}
    {% for post in last_posts %}
        <dd>{% link post %}</dd>
    {% endfor %}
    </dt>
    {% endif %}
</div>

<div class="sidebar">
    <dl class="sidebardl">
    <dt>{% trans "Links" %}</dt>
    <dd><a href="http://buriy.livejournal.com" rel="nofollow" title="My another blog">buriy.livejournal.com</a></dd>
    <dd><a href="http://effele.com/" title="Effective learning">Effective learning</a></dd>
    <dd><a title="blog entries feed" href="{% url rss_feed "blog" %}">{% trans "Blog feed" %}</a></li>
    <dd><a title="comments feed" href="{% url rss_feed "comments" %}">{% trans "Comments feed" %}</a></li>
    </dt>
</div>
