{% extends "layout-taskus.html" %}
{% block title %}Be more productive with YourSway Taskus{% endblock %}

{% block contents %}

<p>Can I implement Getting Things Done approach using Taskus?</p>

<p>A: …</p>

<p>What can I do to organize my time more effiently?</p>

<p>A: …</p>

<p>What should I read to learn more about being productive?</p>

<p>A: …But remember that reading about productivity is not productive, and sticking to the simplest solution often gives the best results.

<p>Any Taskus hot keys I should know about?</p>

<p>A: …</p>

{% endblock %}
