{% extends "../../layout-taskus.html" %}
{% block title %}Get Support for YourSway Taskus{% endblock %}

{% block contents %}

<style type="text/css" media="all">  div#gsfn_list_widget img { border: none; }
  div#gsfn_list_widget { font-size: 12px; width: 250px; border: 6px solid #DDD; padding: 10px; }
  div#gsfn_list_widget a.widget_title { color: #000; display: block; margin-bottom: 10px; font-weight: bold; }
  div#gsfn_list_widget .powered_by { margin-top: 8px; padding-top: 8px; border-top: 1px solid #DDD; }
  div#gsfn_list_widget .powered_by a { color: #333; font-size: 90%; }
  div#gsfn_list_widget div#gsfn_content { }
  div#gsfn_list_widget div#gsfn_content li { text-align:left; margin-bottom:6px; }
  div#gsfn_list_widget div#gsfn_content a.gsfn_link { line-height: 1; }
  div#gsfn_list_widget div#gsfn_content span.time { font-size: 90%; padding-left: 3px; }
  div#gsfn_list_widget div#gsfn_content p.gsfn_summary { margin-top: 2px }
</style>

  <div id="gsfn_list_widget" style="float: right; width: 300px; height: 500px; margin-left: 20px;">
    <a href="http://getsatisfaction.com/yoursway" class="widget_title">Active customer service discussions in YourSway</a>
    <div id="gsfn_content">Loading...</div>
    <div class="powered_by"><a href="http://getsatisfaction.com/"><img alt="Favicon" src="http://www.getsatisfaction.com/favicon.gif" style="vertical-align: middle;" /></a> <a href="http://getsatisfaction.com/">Get Satisfaction support network</a></div>
  </div>

  <p><b>Problems, ideas or questions?</b> Post them to <a href="http://getsatisfaction.com/yoursway">GetSatisfaction.com/YourSway</a>, see what other people want and vote for the requests! The most active topics are listed here in the right sidebar.</p>
  
  <p>Prefer to <b>talk to a live person</b>? Meet our developers in the live <a href="http://yoursway.campfirenow.com/07ae9">Web chat on Campfire</a>. (Active around 2am to 2pm GMT.)</p>
  
  <p>Finally, you can simply send any questions or concerns to <a href="mailto:support@yoursway.com"><b>support@yoursway.com</b></a>, and we'll reply you within a day or so.</p>

  <p>Now, the fun part. If you are a developer and would be interested to get the source code and hack on it, please <a href="mailto:corchy-hacking@yoursway.com">contact us</a>. (We’re not yet sure if we want this to be an open-source, free or commercial tool.)</p>

  <script src="http://getsatisfaction.com/yoursway/widgets/javascripts/c178c17/widgets.js" type="text/javascript"></script><script src="http://getsatisfaction.com/yoursway/topics.widget?callback=gsfnTopicsCallback&amp;length=80&amp;limit=10&amp;sort=recently_active" type="text/javascript"></script>

{% endblock %}
