img.bb_logo {
	position: relative;
	margin: 0 auto;
	width: 128px;
	height: 128px;
	left: 0px;
	top: 10px;
}

div#bringing_back {
	text-align: left;	
	height: 140px;
}

div#bringing_back_promo {
	position: relative;
	overflow: visible;
	color:#000000;
	font-family:'ArialMT','Arial',sans-serif;
	font-size:36px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	letter-spacing:0pt;
	line-height:42px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:none;
	top: -95px;
	left: 142px;
	width: 500px;
}

span#promo_bringing {
	font-weight:normal;
	letter-spacing:0.02em;
}

span#promo_pronfun {
	letter-spacing:0.025em;
}

span#promo_line2 {
	padding-bottom:0pt;
	color:#6C5C5C;
	font-family:'ArialMT','Arial',sans-serif;
	font-size:36px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	letter-spacing:-0.01em;
	line-height:42px;
	margin:0px;
	opacity:1;
	padding-bottom:0px;
	padding-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:none;
}



