/* @override 
	http://127.0.0.1:8000/media/style.css
	http://localhost:8000/media/style.css
*/

/* RESET */

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }

ul,ol { list-style: none; }

fieldset,img { border: none; }

caption,th { text-align: left; }

table { border-collapse: collapse; border-spacing: 0; }

body { font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; background-color: #fff; color: #333; line-height: 1.4em; }

/* vertical -------------------------------- */

html { padding-top: 15px; }

#main_menu { padding-top: 0px; padding-bottom: 0px; }

#main_menu ul li.inactive img { margin-bottom: 34px; }

#midstrip { margin-top: 15px; margin-bottom: 30px; padding-top: 30px; padding-bottom: 15px; }

ul#content_menu { margin-top: 40px; margin-bottom: 40px; padding-top: 0px; padding-bottom: 0px; }

#content {  }

#footer { clear: both; padding-top: 40px; padding-bottom: 16px; }

/* main menu horizontal positioning -------------------------------- */

#main_menu { text-align: center; zoom: 1; width: 100%; min-width: 900px; }

#main_menu li { margin-left: 15px; margin-right: 15px; }

/* main menu appearance -------------------------------- */

#main_menu {  }

#main_menu ul { list-style: none; margin: 0px; padding: 0px; }

#main_menu li { list-style none; display: inline; }

/* midstrip horizontal -------------------------------- */

#midstrip { padding-left: 9%; padding-right: 9%; width: 82%; min-width: 940px; }

#midpitch { float: left; width: 450px; }

#midspacer { float: left; width: 20%; height: 50px; min-width: 20px; max-width: 200px; }

#midactions { margin-left: 500px; zoom: 1; }

#midactions.corchypic { width: 391px; }

#midactions.corchypic img { display: block; margin-top: 30px; float: left; }

/* midstrip appearance -------------------------------- */

#midstrip { background: #ddd; }

#midstrip em { background: #ddd; font-weight: bold; x-background: #fafaee; }

#midstrip p { font-size: 13pt; line-height: 18pt; }

#midstrip p.mainpitch { font-size: 33px; font-weight: normal; line-height: 40px; }

/*
h1 { font-weight: bold; font-size: 24px; line-height: 36px; margin-bottom: 18px; }
h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-bottom: 18px; }
h3 { font-weight: bold; font-size: 1em; line-height: 18px; }
h4 { font-weight: bold; font-size: 10px; line-height: 18px; }
*/

#midstrip p.subpitch { margin-top: 4px; font-size: 18px; line-height: 22px; margin-bottom: 4px; }

#midstrip .features { clear: both; padding-top: 0.66cm; }

#midstrip .features, #midstrip .features p { font-size: 11pt; line-height: 13pt; }

#midstrip p.feature {  }

#midstrip p.additional { font-size: 9pt; margin-top: 6pt; line-height: 11pt; }

#midstrip .download, #midstrip .download p { font-size: 13pt; line-height: 15pt; }

#midstrip .download p, #midstrip .download a, #midstrip .download a:visited { color: #00a000; }

#midstrip .download a:hover { color: #00c000; }

#midstrip .quotes { clear: both; padding-top: 0.66cm; margin-bottom: 1cm; }

#midstrip p.maindownload { padding-top: 0cm; }

#midstrip img.downloadicon { float: left; margin-right: 0.5cm; }

#midstrip p.subdownload { font-size: 11pt; line-height: 13pt; }

#midstrip p.licensing { padding-top: 3pt; font-size: 9pt; line-height: 11pt; }

#midstrip .quote { float: left; width: 4.5cm; margin-left: 0.33cm; margin-right: 0.33cm; }

#midstrip .quote.wide { width: 9.66cm; margin-left: 0.33cm; margin-right: 0.33cm; }

#midstrip .quote, #midstrip .quote p { color: #00a000; font-size: 10pt; line-height: 12pt; text-align: center; }

#midstrip .quote p.author { color: #000000; font-style: italic; padding: 4pt 0px 0px 0px; }

#midstrip .quote p { margin: 0px; padding: 0px; }

/* content menu horizontal -------------------------------- */

ul#content_menu { margin-left: 9%; margin-right: 9%; padding-left: 0px; padding-right: 0px; }

#content_menu li { padding-right: 1em; }

/* content menu appearance -------------------------------- */

ul#content_menu { list-style: none; font-size: 16pt; }

#content_menu li { list-style-type: none; list-style-image: none; list-style-position: outside; list-style-type: none; display: inline; }

#content_menu li, #content_menu li a, #content_menu li a:visited, #content_menu li a:hover { color: #00a000; x-color: blue; }

#content_menu li.active { font-weight: bold; }

#content_menu li a, #content_menu li a:visited { text-decoration: underline; }

#content_menu li a:hover { color: #00c000; }

/* content horizontal -------------------------------- */

#content { padding-left: 9%; padding-right: 9%; }

/* content appearance -------------------------------- */

#content {  }

#content h3 { font-weight: bold; font-size: 1em; line-height: 18px; }

/* footer appearance -------------------------------- */

#footer { font-size: 9pt; text-align: center; }

/* GRID */

.grid2col:after, .grid2cola:after, .grid2colb:after, .grid2colc:after, .grid2cold:after, .grid2cole:after, .grid2colf:after, .grid3col:after, .grid3cola:after, .grid4col:after, .grid5col:after, .grid6col:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { zoom: 1; }

.column { float: left; }

.grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { width: 100%; }

.grid2col .column { width: 49%; }

.grid2col .grid2col .column { width: 47.8%; }

.grid3col .grid2col .column { width: 46%; }

.grid4col .grid2col .column { width: 45%; }

.grid2cola .column.first { width: 66%; }

.grid2cola .column.last { width: 32%; }

.grid2colb .column.first { width: 74.9%; }

.grid2colb .column.last { width: 23%; }

.grid2colc .column.first { width: 32%; }

.grid2colc .column.last { width: 66%; }

.grid2cold .column.first { width: 23%; }

.grid2cold .column.last { width: 74.9%; }

.grid2cole .column.first { width: 79%; }

.grid2cole .column.last { width: 19%; }

.grid2colf .column.first { width: 19%; }

.grid2colf .column.last { width: 79%; }

.grid3col .column { width: 32%; margin-left: 2%; }

.grid2col .grid3col .column { width: 31%; }

.grid3cola .column { width: 58%; margin-left: 2%; }

.grid3cola .column.first,
.grid3cola .column.last { width: 19%; }

.grid4col .column { width: 23%; margin-left: 3%; }

.grid5col .column { width: 18.4%; margin-left: 2%; }

.grid6col .column { width: 15%; margin-left: 2%; }

.column.first, .column.last { margin-left: 0 !important; }

.column.last { float: right !important; }

/* everything else -------------------------------- */

em { font-style: normal; background: #ffffcc; }

.floattrailer { clear: both; }

a { color: #463c3c; text-decoration: underline; }

a:visited { color: #666666; text-decoration: underline; }

a:hover { color: #000000; text-decoration: underline; }

.hlinelike { text-align: center; }

div { overflow: visible; }

img { border: none; }

table.layouting { border: 0px; }

td { vertical-align: top; }

p, ul { color: #463C3C; xfont-family: 'ArialMT','Arial',sans-serif; font-size: 15px; line-height: 20px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: 0pt; margin: 0px; opacity: 1; padding-bottom: 6px; }

h1 { padding-bottom: 10px; font-size: 36px; }

h2 { font-size: 28px; padding-bottom: 10px; }

h3 { font-size: 18px; font-weight: normal; padding-bottom: 10px; }

li { padding-bottom: 6px; }

.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

.clearfix { display: inline-block; }

/* Hides from IE5/Mac \*/

* html .clearfix { height: 1px; }

.clearfix { display: block; }

/* End hide from IE5/Mac */
