/* @override http://localhost:8001/css/master.css */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; list-style-type: none; margin: 0; padding: 0; }

body { font-family: Lucida Sans, Verdana, Arial, Verdana, sans-serif; }
h1 { font-family: Lucida Sans, Verdana; }

body { line-height: 16px; background: #fff; font-size: 12px; color: #222; margin: 0 0 0 0;  min-width: 700px; overflow: hidden; }

b { font-weight: normal; }

a { color: #3F8CD1; }
a:visited { color: #043B6C; }
a:hover { background: #3F8CD1; color: white; }

#identity { position: absolute; top: 50%; left: 50%; margin: -100px 0 0 -250px; width: 420px; height: 200px; }
#identity p { padding-left: 60px; color: #772222; }

#footer { position: fixed; width: 100%; padding: 0 4% 0 4%; line-height: 2; height: 2.4em; bottom: 0px; background-color: #FFE0D6; border-top: 4px solid #D87474;}
#footer .link { display: inline; padding-right: 4%; background: ; }
#footer a { color: #CD4C4C; }
#footer a:hover { background: transparent; color: #FF2A00; }

.bundle { }
.bundle h2 { position: absolute; width: auto; font-size: 18px; line-height: 28px; margin: 0; padding: 4px 10px; cursor: pointer; z-index: 1; }
.bundle h2.small { font-size: 14px; }
.desc, .bubble { cursor: default;  }
.desc { position: absolute; width: 250px; margin: 36px 0 0 0; padding: 0 10px 10px 10px; z-index: 2; }
.bubble { background: white; position: absolute; top: 3.5em; left: 28%; width: 12%; border: 4px solid #D87474; padding: 0.5em 0.5em; z-index: 3; }
/*.bubble .teaser { display: block; }*/
.story { display: none; color: white; margin: 0px 0px 0px 4%; padding: 4% 4%; position: absolute; left: 0%; top: 0%; bottom: 0%; right: 0%;}

#b-users h2 { top: 8%; left: 16%; }
#b-challenge h2 { top: 60%; left: 12%; }
#b-brain h2 { top: 4%; left: 60%; }
#b-experience h2 { top: 76%; left: 52%; }
#b-risks h2 { top: 68%; left: 72%; }
#b-mac h2 { top: 32%; left: 4%; }
#b-iphone h2 { top: 16%; left: 32%; }
#b-crashreporting h2 { top: 16%; left: 76%; }
#b-simplicity h2 { top: 80%; left: 84%; }
#b-agile h2 { top: 84%; left: 8%; }
#b-eclipse h2 { top: 44%; right: 4%; position: absolute; width: auto; text-align: right; }
#b-developers h2 { top: 36%; left: 16%; }
#b-appengine h2 { top: 76%; left: 28%; }
/*#b- { top: 36%; left: 76%; }*/


hr { background: #ddd; color: #ddd; float: none; height: .1em; border: none; margin: 0 0 1.4em; }

hr.space { background: #fff; color: #fff; }

hr.wide { margin-left: -9.52%; margin-right: -9.52%; width: 124%; }

h1 { font-size: 24px; line-height: 1.5; margin-top: 1em; color: #772222; }
h1 a:hover, em a:hover { background: #772222; color: white; }
h1 a, em a, h1 a:visited, em a:visited { color: #B33232; }

#cloud { width: 100%; height: 100%; position: absolute; }

p { margin-top: 1em; }

#our-team { color: #772222; margin: 0 -9.52% 0 -9.52%; padding: 4em 60% 4em 9.52%; line-height: 1.5; position: relative; background: transparent; font-size: 14px; border-bottom: 4px solid #D87474; }
#our-team p { margin: 0px 0px 0px 0px; }
#logo { margin: -64px 0 0 0; width: 405px; height: 128px; position: absolute; top: 50%; right: 10%; }

#menu { display: none; } #our-team { margin-bottom: 56px; }
#menu { margin: 0 -9.52% 56px -9.52%; padding: 0px 9.52% 0px 9.52%; border-bottom: 4px solid #D87474; }
#menu li { display: inline; padding: 0 20px 0 0; }
#menu li a { padding-top: 5px; padding-bottom: 5px; }
/*#menu, #menu a, #menu a:visited { color: pink; text-decoration: none; }*/
#menu, #menu a, #menu a:visited { text-decoration: none; }
/*#menu a:hover { background: #D87474; color: #772222; }*/

#our-products {  }

#hire-us { margin: 0em 0 0 0%;  }
#hire-us em { }

#news { margin: 0 8% 56px -9.52%; padding: 0 8% 2.3em 9.52%; float: left; width: 32%; background: white; line-height: 1.5; font-size: 12px; background-color: #FFE0D6; margin-top: -56px; padding-top: 56px; }

#news h1 { font-size: 18px; line-height: 36px; position: relative; margin-top: 0; padding-bottom: 4px; margin-top: 1.66em; white-space: nowrap; }

#news h1.first { margin-top: 0; }

#news .title { background: #772222; color: white; margin-left: 1.5ex; padding: 2px 4px; line-height: 1.5; font-size: 10px; text-align: center; position: relative; top: -2px; }

#news em { color: #FF2A00; }

.red { color: red; }

.rd { margin-right: -0.333em; }

.lq { margin-left: -0.333em; }