/* @override 
	http://127.0.0.1:8000/media/style.css
	http://localhost:8000/media/style.css
*/

#footer { font-size: 9pt; text-align: center; }

/* vertical -------------------------------- */

html { padding-top: 15px; }

#main_menu { padding-top: 0px; padding-bottom: 0px; }

#main_menu ul li.inactive img { margin-bottom: 34px; }

#midstrip { margin-top: 15px; margin-bottom: 30px; padding-top: 30px; padding-bottom: 15px; }

ul#content_menu { margin-top: 40px; margin-bottom: 40px; padding-top: 0px; padding-bottom: 0px; }

#content {  }

#footer { clear: both; padding-top: 40px; padding-bottom: 16px; }

/* main menu horizontal positioning -------------------------------- */

#main_menu { text-align: center; zoom: 1; width: 100%; min-width: 900px; }

#main_menu li { margin-left: 15px; margin-right: 15px; }

/* main menu appearance -------------------------------- */

#main_menu {  }

#main_menu ul { list-style: none; margin: 0px; padding: 0px; }

#main_menu li { list-style none; display: inline; }

/* midstrip horizontal -------------------------------- */

#midstrip { padding-left: 9%; padding-right: 9%; width: 82%; min-width: 940px; }

#midpitch { float: left; width: 450px; }

#midspacer { float: left; width: 20%; height: 50px; min-width: 20px; max-width: 200px; }

#midactions { margin-left: 500px; zoom: 1; }

#midactions.corchypic { width: 391px; }

#midactions.corchypic img { display: block; margin-top: 30px; float: left; }

/* midstrip appearance -------------------------------- */

#midstrip { background: #ddd; }

#midstrip em { background: #ddd; font-weight: bold; x-background: #fafaee; }

#midstrip p { font-size: 13pt; line-height: 18pt; }

#midstrip p.mainpitch { font-size: 33px; font-weight: normal; line-height: 40px; }

/*
h1 { font-weight: bold; font-size: 24px; line-height: 36px; margin-bottom: 18px; }
h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-bottom: 18px; }
h3 { font-weight: bold; font-size: 1em; line-height: 18px; }
h4 { font-weight: bold; font-size: 10px; line-height: 18px; }
*/

#midstrip p.subpitch { margin-top: 4px; font-size: 18px; line-height: 22px; margin-bottom: 4px; }

#midstrip .features { clear: both; padding-top: 0.66cm; }

#midstrip .features, #midstrip .features p { font-size: 11pt; line-height: 13pt; }

#midstrip p.feature {  }

#midstrip p.additional { font-size: 9pt; margin-top: 6pt; line-height: 11pt; }

#midstrip .download, #midstrip .download p { font-size: 13pt; line-height: 15pt; }

#midstrip .download p, #midstrip .download a, #midstrip .download a:visited { color: #00a000; }

#midstrip .download a:hover { color: #00c000; }

#midstrip .quotes { clear: both; padding-top: 0.66cm; margin-bottom: 1cm; }

#midstrip p.maindownload { padding-top: 0cm; }

#midstrip img.downloadicon { float: left; margin-right: 0.5cm; }

#midstrip p.subdownload { font-size: 11pt; line-height: 13pt; }

#midstrip p.licensing { padding-top: 3pt; font-size: 9pt; line-height: 11pt; }

#midstrip .quote { float: left; width: 4.5cm; margin-left: 0.33cm; margin-right: 0.33cm; }

#midstrip .quote.wide { width: 9.66cm; margin-left: 0.33cm; margin-right: 0.33cm; }

#midstrip .quote, #midstrip .quote p { color: #00a000; font-size: 10pt; line-height: 12pt; text-align: center; }

#midstrip .quote p.author { color: #000000; font-style: italic; padding: 4pt 0px 0px 0px; }

#midstrip .quote p { margin: 0px; padding: 0px; }

/* content menu appearance -------------------------------- */

#content_menu { font-size: 2em; margin-bottom: 0.75em; }

/*#content_menu div { margin-left: -2px; }*/

#content_menu div, #content_menu div a, #content_menu div a:visited, #content_menu div a:hover { color: #00a000; /*font-style: normal !important; */}

#content_menu div.active { /*font-weight: bold;*/ }

/*#content_menu div.inactive { border-bottom: 1px solid #00a000; }*/

#content_menu div a, #content_menu div a:visited { text-decoration: underline; }

#content_menu div a:hover { color: #00c000; }
*/

/* newer styles ----------------------------------- */

blockquote.nomargin { margin-left: 0px; margin-right: 0px; }

.success_story_sidebar { float: right; width: 400px; margin: 0px 0px 10px 30px; }

.success_story_sidebar h2 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

span.sbrace {margin-right: 0.3em}
span.hbrace {margin-left: -0.3em}

span.squots {margin-right: 0.35em}
span.hquots {margin-left: -0.35em}

span.squot {margin-right: 0.5em}
span.hquot {margin-left: -0.5em}

span.slaquo {margin-right: 0.44em}
span.hlaquo {margin-left: -0.44em}
span.slaquo-s {margin-right: 0.55em}
span.hlaquo-s {margin-left: -0.55em}

span.sbdquo {margin-right: 0.35em}
span.sbdquo:after { content: ' '; }
span.hbdquo {margin-left: -0.35em}
span.sbdquo-s {margin-right: 0.35em}
span.sbdquo-s {margin-left: -0.35em}

span.sowc {margin-right: 0.04em}
span.howc {margin-left: -0.04em}

span.sowcr {margin-right: 0.05em}
span.howcr {margin-left: -0.05em}


/* everything else -------------------------------- */

/*blockquote { margin: 0px 20px; font-style: normal !important; }*/


em { font-style: normal; background: #ffffcc; }

.floattrailer { clear: both; }

a { color: #463c3c; text-decoration: underline; }

a:visited { color: #666666; text-decoration: underline; }

a:hover { color: #000000; text-decoration: underline; }

.hlinelike { text-align: center; }

div { overflow: visible; }

img { border: none; }

table.layouting { border: 0px; }

td { vertical-align: top; }

.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

.clearfix { display: inline-block; }

/* Hides from IE5/Mac \*/

* html .clearfix { height: 1px; }

.clearfix { display: block; }

/* End hide from IE5/Mac */

