{% extends "base.html" %}

{% load i18n %}
{% load pytils_dt %}
{% load pytils_numeral %}
{% load discussion_tags %}
{% load theme %}
{% load watchlist_tags %}

{% block title %}{{ object.name }}{% endblock %}

{% block description %}{{ object.name }}{% endblock %}

{% block extrahead %}
{% theme_css "highlight" %}
{% theme_js "highlight" %}
{% theme_js "comments" %}
<script type="text/javascript">initHighlightingOnLoad('html', 'css', 'python');</script>
{% theme_js "jquery.form" %}
{% theme_js "ajaxforms" %}
{% ifequal settings.CAPTCHA "recaptcha" %}<script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>{% endifequal %}
<link rel="alternate" type="application/rss+xml" title="{{ settings.BLOG_NAME }}: comments on {{ object.name }} feed" href="{% url feed feedurl %}" />
<link rel="pingback" href="http://{{ site.domain }}{% url xmlrpc %}" />
{% endblock %}

{% block content %}
{% include "blog/post_entry.html" %}

<span class="control-link">
  {% if form.subscribe %} {# using CommentForm feature for detection if user is already subscribed to object #}
  <a class="subscribe-link" href="{% subscribe_url object %}">{% trans "Subscribe" %}</a>
  {% else %}
  <a class="subscribe-link" href="{% unsubscribe_url object %}">{% trans "Unsubscribe" %}</a>
  {% endif %}
  <a class="comment-link" onclick="return comment();" href="#">{% trans "Make comment" %}</a>
</span>

{% block pingbacks %}
{% if object.pingbacks.all|length %}
<div id="pingbacks"><h2>{% trans "Pingbacks" %}</h2>
  {% for pingback in object.pingbacks.all %}
  {% include "blog/pingback.html" %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}

{% comment_tree_for_object object as comments %}
{% block comments %}
<div id="comments">
    <a name="comments"></a>
    <h2>{% trans "Comments" %}</h2>
  {% if not comments %}
    <div>{% trans "No comments for this post" %}</div>
  {% endif %}

  {% for comment in comments %}
  {% include "blog/comment.html" %}
  {% endfor %}

  {% if object.comments_open %}{% if not reply_to %}
  {% include "blog/comment_form.html" %}
  {% endif %}{% endif %}

</div>
{% endblock %}
{% endblock %}

