{% load i18n %}
{% load tagging_tags %}
{% load blogroll_extras %}

<div class="block">
    <div class="header">{% trans "Last comments" %}
        <a href="{% url feed "comments" %}"><img src="{{ STATIC_URL }}img/feed-icon-14x14.png"/></a>
    </div>
    {% if comments %}
    <ul class="last-comments">
    {% for comment in comments %}
    <li><span class="author">{% link comment.user %}</span> <a href="{{ comment.get_absolute_url }}">{{ comment.object.name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <div>{% trans "No comments on blog" %}</div>
    {% endif %}
</div>

<div class="block">
    <div class="header">{% trans "Last posts" %}
        <a href="{% url feed "blog" %}"><img src="{{ STATIC_URL }}img/feed-icon-14x14.png"/></a>
    </div>
    {% if last_posts %}
    <ul>
    {% for post in last_posts %}
        <li>{% link post %}</li>
    {% endfor %}
    </ul>
    {% else %}
    <div>{% trans "No posts on blog" %}</div>
    {% endif %}
</div>

<!--<div class="block">-->
    <!--<div class="header">{% trans "Popular posts" %}</div>-->
    <!--{% trans "Feature not ready yet" %}-->
    <!--{% comment %}-->
    <!--{% if popular_posts %}-->
    <!--<ul>-->
    <!--{% for post in popular_posts %}-->
        <!--<li>{% link post %}</li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
    <!--{% else %}-->
    <!--<div>{% trans "No posts on blog" %}</div>-->
    <!--{% endif %}-->
    <!--{% endcomment %}-->
<!--</div>-->

<div class="block">
    <div class="header"><span>{% trans "Tags" %}</span></div>
    <ul class="tag-cloud">
        {% tag_cloud_for_model blog.post as tags %}
        {% render_tag_cloud tags %}
    </ul>
</div>

<div class="block">
    <div class="header"><span>{% trans "Blogroll" %}</span></div>
    {% blogroll_links %}
</div>

{% if settings.ENABLE_SAPE %}
{% load sape_extras %}
<div class="block advertize">
    <div class="header"><span>{% trans "Advertize" %}</span></div>
    <ul>
        {% sape_links_list request %}
    </ul>
</div>
{% endif %}
