{% extends "base.html" %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blog.css" />
{% endblock %}
{% block menu %}
    {% with "Blog" as activemenuitem %}
    {% include "menu.html" %}
    {% endwith %}
{% endblock %}
{% block content %}
    {% for post in object_list %}
    <div class="post {% cycle odd,even %}">
        <div class="post-date">{{ post.pub_date|time:"H:i" }}, {{ post.pub_date|date:"N d" }}</div>
        <h3 class="post-name">{{ post.name }}</h3>
        <div class='post-text'>
        {{ post.text|linebreaksbr }}
        </div>
    </div>
    {% endfor %}
{% endblock %}
