{% load i18n %}
{% load tagging_tags %}

<div class="block">
    <div class="header"><span>{% trans "Useful information" %}</span></div>
    <ul>
        <li><a title="blog entries feed" href="{% url rss_feed "blog" %}">{% trans "Blog feed" %}</a></li>
        <li><a title="comments feed" href="{% url rss_feed "comments" %}">{% trans "Comments feed" %}</a></li>
    </ul>
</div>

<div class="block">
    <div class="header"><span>{% trans "Tags" %}</span></div>
    <ul>
    {% tag_cloud_for_model blog.post as tags %}
    {% render_tag_cloud tags %}
    </ul>
</div>

<div class="block">
  <div class="header"><span>Visitors</span></div>
  <a href="http://www3.clustrmaps.com/counter/maps.php?url=http://blog.leschinsky.in.ua" id="clustrMapsLink"><img src="http://www3.clustrmaps.com/counter/index2.php?url=http://blog.leschinsky.in.ua" style="border:0px;" alt="Locations of visitors to this page" title="Locations of visitors to this page" id="clustrMapsImg" onError="this.onError=null; this.src='http://www2.clustrmaps.com/images/clustrmaps-back-soon.jpg'; document.getElementById('clustrMapsLink').href='http://www2.clustrmaps.com'" />
</a>
  </div>