{% extends "layout-corchy.html" %}

{% block contents %}

<p>Please send any <b>suggestions</b>, <b>bug reports</b> and other <b>ideas</b> to <a href="mailto:corchy-feedback@yoursway.com">corchy-feedback@yoursway.com</a>.</p>

<p>If you would be interested to get the <b>source code</b> and hack on 
it, please <a href="mailto:corchy-hacking@yoursway.com">contact us</a>. (We’re not yet sure if we want this to be an open-source, free or commercial tool.)</p>

<p>There's a Corchy discussion <b>mailing list</b> at Google Groups. Please visit the <a href="http://groups.google.com/group/yoursway-corchy-users">yoursway-corchy-users</a> group web site to read the archives, post or subscribe.</p>

{% endblock %}
