{% extends "blog_base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
<h1>Page not found (error 404)</h1>

<p>This is famous error 404 page - you have requested URL, which does
not exist at all. Maybe this URL points to an old page, which was
deleted, maybe there is mistake in your URL, maybe there is some other
reason why you are here. Who knows?</p>

<p>But at least you can try start browsing <a href="/">site</a> from
the very beginning - who knows, maybe you'll find something useful or
interesting? ;-)</p>

{% endblock %}
