{% extends "blog_base.html" %}

{% block title %}Server error{% endblock %}

{% block content %}
<h1>Server Error (code 500)</h1>

<p>Oops!.. Looks like there is a bug in the server software or you have
found some unfinished or buggy feature. :-)</p>

<p>If the server is configured properly, the administrator
will get a report about this error soon. If you think there may be trouble
with sending mail you can report about problem yourself, either by
writing mail (probably found on <a href="/about/">about</a> page),
or by submitting a ticket to the <a href="http://byteflow.su/">Byteflow Trac</a>.</p>

<p>Sorry for the inconvenience, and thanks for your patience!</p>
{% endblock %}
