<html>
	<head>		
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>			
		<link rel="stylesheet" type="text/css" /media="screen,print" href="/media/style.css" />
		<!-- page specific START -->
		{% block title %}
		{% endblock %}
		<!-- page specific END -->
	</head>
	<body>
		<div id="wrapper_div">
			<div id="wrapper_div2">				
				<div id="content">
					<!-- menu block START -->
			    {% block menu %}
			    {% with "YourSway" as activemenuitem %}
			    {% include "menu.html" %}
			    {% endwith %}
			    {% endblock %}
					<!-- menu block END -->
					<div id="hline1">
						<img style="height: 1px; width: 630px;" alt="" src="/media/images/shapeimage_1.jpg"/>
					</div>
					<div id="body">
						
						<!-- actual document START -->
						{% block contents %}
						{% endblock %}
						<!-- actual document END -->
						
					</div>	
						<div id="hline2">
							<img style="height: 1px; width: 630px;" alt="" src="/media/images/shapeimage_1.jpg"/>
						</div>
						<div id="footer" class="hlinelike">
							 &copy; 2008 YourSway LLC
						</div>
				</div>				
			</div>
		</div>
	</body>	
</html>