{% extends "base.html" %}
{% block title %}Corchy — all your tasks in one place{% endblock %}

{% block midstrip %}
<div id="midstrip">
  <div id="midpitch">
    <p class="mainpitch">All your tasks in one place</p>
    <p>Stay on top of all your personal and work tasks. Autosync with Basecamp and Trac.</p>
  </div>
  <div id="midactions">
    <div class="download">
      <p><a href="#"><img class="downloadicon" src="/media/images/download.png" width="85" height="84" alt="" /></a></p>
      <p class="maindownload">Download <a href="#">Taskus v2 for Mac</a></p>
      <p class="subdownload">also <a href="#">for Windows</a> or <a href="#">for Linux</a></p>
      <p class="licensing">Free for any use. (And yes, we <a href="/consulting">do consulting</a>.)</p>
    </div>
  </div>
  <div class="floattrailer"></div>
</div>
{% endblock %}
