{% extends "base.html" %}
{% block title %}Corchy — all your tasks in one place{% endblock %}

{% block midstrip %}
<div id="midstrip">
  <div id="midpitch">
    <p class="mainpitch">All your tasks in one place</p>
    <p>Stay on top of all your personal and work tasks. Autosync with Basecamp and Trac.</p>
  </div>
  <div id="midactions">
    <img class="downloadicon" src="/media/images/download.png" width="85" height="84" alt="" />
    <p class="maindownload">Download Corchy v2 for Mac</p>
    <p class="subdownload">for Windows | for Linux</p>
  </div>
  <div class="floattrailer"></div>
</div>
{% endblock %}
