{% extends "base.html" %}

{% block title %}{{ flatpage.title }}{% endblock title %}
{% block headline %}{{ flatpage.title }}{% endblock %}

{% block menu %}
{% with "Consulting" as activemenuitem %}
{% include "menu.html" %}
{% endwith %}
{% endblock %}

{% block content %}{{ flatpage.content|linebreaksbr }}{% endblock %}

{% block screenshots %}
<!--
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td background="{{ MEDIA_URL }}images/table.png" align="center">
<img id="screenshots" src="{{ MEDIA_URL }}images/screenshots.png"/> 
</td>
</tr>
</table>
-->
{% endblock %}	
