{% extends "../../base.html" %}
{% block title %}Consulting services by YourSway{% endblock %}

{% block contents %}

<!--
<p style="float: right;">
	YourSway LLC<br>
	Novosibirsk, Russia<br>
	Tel.: +7 906 193 29 59 <br>
	Skype: andreyvit (our CTO)<br>
	E-mail: <a href="mailto:info@yoursway.com">info@yoursway.com</a>
</p>
-->

<div class="column prepend-1 span-15 append-7">

  <p>They say iPhone is a software development platform of the same importance as Windows and Mac. Looking at the growing App Store we tend to share this feeling. So we have borrowed two of our software engineers to learn Cocoa Touch and get hands dirty on iPhone. This results in iTaskus approaching a beta stage soon.</p>

  <p>A fun thing is that noone in the world can say “we’ve been on iPhone market for 5 years” or something like that. The platform is half a year old, and we’ve been working with it for a couple of months.</p>

  <p>What we can do is to promise to bring all our prior experience to iPhone and build a fantastic application for you.</p>

</div>



<hr class="space">

<div class="column prepend-1 span-15">
	
  <h2>Interested?</h2>

  <p><a href="/consulting/overview#contact">Contact us</a> to discuss how we can help.</p>
</div>

{% endblock %}
