{% extends "../../base.html" %}
{% block title %}YourSway{% endblock %}

{% block contents %}

<div class="column prepend-1 span-11">
  
  <p>
    A team of five developers and one QA engineer in the middle of Siberia.
    Our mission is to provide kick-ass tools to every software developer in the world.
  </p>
  
  <p>
    We offer a wide range of contract development services.
    We build <b>cross-platform, native, web and mobile applications.</b>
  </p>
  
  <p>
    We focus on&nbsp;usability of&nbsp;interfaces,
    efficiency of&nbsp;communications,
    maintainability of&nbsp;sources,
    modularity of&nbsp;architectures,
    reliability of&nbsp;deployments,
    testability of&nbsp;components,
    agility of&nbsp;processes
    and satisfaction of&nbsp;customers.
  </p>
  
  <hr class="space" />
  
</div>

<div class="column prepend-2 span-10 last">
  
  &nbsp;
  
</div>

<div class="column prepend-1 span-11">
  
  <h2>Hire us to build your product</h2>
  
  <h3>Cross-platform?</h3>
  
  <p>Thinking of an <b>IDE</b> for your in-house language or other custom development tools?</p>

  <blockquote><p>We are the initial committers and contributors to the Eclipse Dynamic Languages Toolkit project. We know a hell lot about language tools, static analysis and type inferencing. Learn <a href="ide/">more about IDE development</a> or <a href="#contact">contact us</a>.</p></blockquote>
  
  <h3>Native?</h3>

  <p>Looking for someone to build you a <b>Web</b> application or a <b>desktop</b> application for Mac and Windows? Or are you looking for both?</p>

  <blockquote><p>Many people actually want to get both desktop and Web presence: a Web application and a desktop widget, or a desktop application with a lightweight Web app to use on the go. We know that the distinction between desktop and web blends, and we have professionals in both areas to bring you the best integrated solutions possible. Learn <a href="mashups/">more about desktop <span class="alt">&</span> Web development</a> or <a href="#contact">contact us</a>.</p></blockquote>
  
  <h3>Web?</h3>

  <p>Looking for someone to build you a <b>Web</b> application or a <b>desktop</b> application for Mac and Windows? Or are you looking for both?</p>

  <blockquote><p>Many people actually want to get both desktop and Web presence: a Web application and a desktop widget, or a desktop application with a lightweight Web app to use on the go. We know that the distinction between desktop and web blends, and we have professionals in both areas to bring you the best integrated solutions possible. Learn <a href="mashups/">more about desktop <span class="alt">&</span> Web development</a> or <a href="#contact">contact us</a>.</p></blockquote>
  
  <h3>Mobile?</h3>

  <p>Excited about the <b>iPhone</b>? Want to bring your application to iPhone?</p>

  <blockquote><p>We're using all our Mac OS X development and user interactions design expertise for iPhone consulting. Expect amazing results! Learn <a href="iphone/">more about iPhone development</a> or <a href="#contact">contact us</a>.</p></blockquote>
  
  <hr />
  
  <a name="contact"></a>
  <iframe height="665" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="http://yoursway.wufoo.com/embed/z7x4m1/"><a href="http://yoursway.wufoo.com/forms/z7x4m1/" title="Get in touch">Get in touch with us »</a></iframe>
  
  
</div>

<div class="column prepend-2 span-10 last">
  
  <h2><a href="http://crashkitapp.appspot.com/">CrashKit</a> <span class="badge">(limited beta)</span></h2>
  
  <p>Do you want to know about the bugs your customers experience?</p>
  
  <p><b>Log exceptions and view them on the web.</b> Instant e-mail notifications. Smart grouping.
    Bug tracker integration.</p>
    
  <p><b>Java, Ruby, Python, PHP and JavaScript</b> are supported.
    You are five minutes away from the peace of mind and a happy inbox.</p>
  
  <p><b><a href="http://crashkitapp.appspot.com/#signup">Sign up</a></b> for the limited beta program now,
    and we'll let you in within a month.
    Or learn more about the <a href="http://crashkitapp.appspot.com">six reasons</a> why you need CrashKit.
  </p>

  <hr />

  <h2><a href="/products/create-dmg">create-dmg</a> <span class="badge">(free)</span></h2>
  
  <p>
    Builds a cool .dmg automatically.
    Custom background, specific icon positions, opens in the icon view.
    Integrates into the build process, but requires a Mac.
  </p>
  
  <hr />
  
  <h2><a href="/products/projectsync">ProjectSync</a> <span class="badge">(free)</span></h2>
  
  <p>
    An Eclipse plug-in to help you use multiple source repositories.
    Auto-import new projects. Map working sets to repository directories.
  </p>
  
  <hr />
  
  <h2>Eclipse OS X Repackager <span class="badge">(free)</h2>
  
  <p>
    Turns a regular Eclipse installation (or your RCP application, or your OSGi-based application)
    into a proper Mac OS X bundle which looks like a single file in Finder.
  </p>
  
  <p>
    Get the familiar experience, forget the multifile nightmare.
  </p>
  
  
</div>
  

<!-- <p>YourSway <span style="caps">LLC</span> is a <b>small team of passionate developers</b> with solid experience and a proven record of deliveries. We have broad skills and interests, and we are eager to help you shape the future of your company or of the whole world.</p> -->

{% endblock %}
