{% extends "../../base.html" %}
{% block title %}Consulting services by YourSway{% endblock %}

{% block contents %}

<div class="column prepend-1 span-14 append-9">

<p>YourSway <span style="caps">LLC</span> is a <b>small team of passionate developers</b> with solid experience and a proven record of deliveries. We have broad skills and interests, and we are eager to help you shape the future of your company or of the whole world.</p>

</div>

<div class="column prepend-1 span-10 append-1">

<hr />
  
<p><b style="color: red">Announcement:</b> We have launched a limited beta testing program of <a href="http://crashkitapp.appspot.com/">CrashKit</a> — the ultimate <b>crash reporting</b> and analysis solution for Java, Python, Ruby and PHP developers. <a href="http://crashkitapp.appspot.com/#signup">Sign up now</a>, and we'll let you in within a month.</p>

<hr />

<p>Thinking of an <b>IDE</b> for your in-house language or other custom development tools?</p>

<blockquote><p>We are the initial committers and contributors to the Eclipse Dynamic Languages Toolkit project. We know a hell lot about language tools, static analysis and type inferencing. Learn <a href="ide/">more about IDE development</a> or <a href="#contact">contact us</a>.</p></blockquote>

<p>Looking for someone to build you a <b>Web</b> application or a <b>desktop</b> application for Mac and Windows? Or are you looking for both?</p>

<blockquote><p>Many people actually want to get both desktop and Web presence: a Web application and a desktop widget, or a desktop application with a lightweight Web app to use on the go. We know that the distinction between desktop and web blends, and we have professionals in both areas to bring you the best integrated solutions possible. Learn <a href="mashups/">more about desktop <span class="alt">&</span> Web development</a> or <a href="#contact">contact us</a>.</p></blockquote>

<p>Excited about the <b>iPhone</b>? Want to bring your application to iPhone?</p>

<blockquote><p>We're using all our Mac OS X development and user interactions design expertise for iPhone consulting. Expect amazing results! Learn <a href="iphone/">more about iPhone development</a> or <a href="#contact">contact us</a>.</p></blockquote>

</div>

<div class="column span-12 last">

<a name="contact"></a>
<iframe height="665" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="http://yoursway.wufoo.com/embed/z7x4m1/"><a href="http://yoursway.wufoo.com/forms/z7x4m1/" title="Get in touch">Get in touch with us »</a></iframe>

</div>

{% endblock %}
