{% extends "../../base.html" %}
{% block title %}YourSway ProjectSync{% endblock %}

{% block contents %}
  
<div class="column prepend-1 span-11">
  <img src="/images/ProjectSync/ProjectSync-menu.png" width="430" height="299" alt="ProjectSync commands under Eclipse Projects menu">
</div>

<div class="column span-11 prepend-1 last">
  <h2>Organize your Eclipse projects</h2>
  <h3>Auto-import projects. Per-working-set folders.<br>
  <h4 style="margin-top: 3em;">• Ideal when working with several code repositories.</h4>
  <h4>• Automatically imports projects and assigns working sets.</h4>
  <h4>• Automatically moves new projects into per-working-set folders of your choice <small>(see screenshots below for folder layout).</small></h4>
  <p style="margin-top: 3em;"><big>Latest release: <a href="http://download.yoursway.com/YourSway-ProjectSync-1.2.1.zip">ProjectSync 1.2.1</a>.</big></p>
</div>

<div class="column prepend-1 span-14 append-9">
<h2>
  Installation
</h2>

<p>Download <a href="http://download.yoursway.com/YourSway-ProjectSync-1.2.1.zip">ProjectSync 1.2.1</a>. Unpack into “dropins/” subfolder of your Eclipse.</p>
<p>Verified to work with Eclipse 3.5&nbsp;M5 and Eclipse 3.4. Might also work with 3.3 if you put only the jars into your “plugins/” folder instead.</p>

</div>

<div class="column span-16">
<img src="/images/ProjectSync/ProjectSync-layout.png" width="630" height="383" alt="ProjectSync folder layout">
</div>

<div class="column span-8 last" style="padding-top: 25px;">
<p>Set up folders on the file system:
<p>• Create a folder named <code>Working Sets</code>.</p>
<p>• For each working set you wanna have, create a subfolder.</p>
<p>• Check out your repositories into corresponding subfolders.</p>
<p>(Of course, symlinks to other folders will do just fine — Mac, Linux and Windows all support symlinks.)</p>
</div>

<div class="column prepend-1 span-7" style="padding-top: 25px;">
<p>
  Choose “Project &gt; ProjectSync: Configure folder...”, and specify the folder you've created on the previous step.
</p>
<p>
  Now, when you choose “Project &gt; ProjectSync: Add Missing and Move Misplaced Projects”, two things will happen:
</p>
<p>
  1) Projects that exist on disk but not in your workspace will be imported and added to the corresponding working sets. <font class="hbrace">(</font>Or simply added to the working sets, if they already exist but are not in the working sets.)
</p>
<p>
  2) Projects that are added to a working set managed by ProjectSync but are located in the workspace root folder <font class="hbrace">(</font>that is, newly created projects) will be moved <font class="hbrace">(</font>on disk) to the correct folder. <font class="hbrace">(</font>They are removed from Eclipse, moved to the correct folder and then re-added to Eclipse.)
</p>
<p>
  Enjoy!
</p>
</div>

<div class="column span-16 last">
  <img src="/images/ProjectSync/ProjectSync-config.png" width="670" height="430" alt="ProjectSync configuration">
</div>

<div class="column prepend-1 span-14 append-9">
  
<h2>
  Source Code &amp; License
</h2>
<p>
  This project is licensed under the <a href="http://www.eclipse.org/org/documents/epl-v10.php">Eclipse Public License</a>.
  The source code is available in a <a href="http://github.com/andreyvit/yoursway-projectsync/">Git repository at GitHub</a>.
</p>
<p>Browse and report issues into our <a href="http://yoursway.lighthouseapp.com/projects/25474-projectsync/">bug tracker at Lighthouse</a>.</p>
<p>You can also e-mail any issues/comments/concerns to <a href="mailto:andreyvit@gmail.com">Andrey Tarantsov</a> directly,
  or talk to a live person in our <a href="http://livechat.yoursway.com/">Web-based Support Chatroom</a>.</p>

<h2>
  Tip: Multiple subfolders of a working set folder
</h2>
<p>
  ProjectSync scans the folder of each working set up to a depth of three subfolders, looking for projects. So to put several repositories into a single working set, just put several subfolders into the working set folder.
</p>
<p>
  How does ProjectSync decide where to move the newly created projects if there are several subfolders of a working set folder?
</p>
<p>
  1) If there exists a subfolder <font class="hbrace">(</font>presumably a symlink) named “default”, the project will be moved there.
</p>
<p>
  2) If there is exactly one subfolder that is not a project, the newly created project will be moved there.
</p>
<p>
  3) Else, the newly created project will be moved to the working set folder itself.
</p>
</div>


{% endblock %}
