<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
{% load theme %}
{% load sidebar %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="verify-v1" content="fn+lakS3E0mqBvx1Xs5+fb9c1LihN4vcqXM5fjz8U+M=" />
<link rel="openid2.provider"
      href="http://blog.leschinsky.in.ua/openidserver/"/>
<link rel="openid.server" href="http://blog.leschinsky.in.ua/openidserver/"/>

  <title>{{ BLOG_NAME }}: {% block title %}main{% endblock %}</title>
  {% theme_css %}
  <link rel="alternate" type="application/atom+xml" title="{{ settings.BLOG_NAME }}: blog entries feed" href="{% url feed "blog" %}" />
  <link rel="alternate" type="application/atom+xml" title="{{ settings.BLOG_NAME }}: comments feed" href="{% url feed "comments" %}" />
  <link rel="openid2.provider" href="{% absolute_url openid_endpoint %}"/>
  <link rel="openid.server" href="{% absolute_url openid_endpoint %}"/>
  {% theme_js "jquery" %}
  {% theme_js "login-shortcuts" %}
  <script type="text/javascript" src="{% url processed_js %}"></script>
  {% block extrahead %}{% endblock %}
</head>
<body>
<div id="page">

  {% include "head.html" %}

  <div id="bodyblock">
    <div id="secondsidebar">{% include "advertisement.html" %}</div>
    <div id="firstsidebar">{% sidebar %}</div>
    <div id="content">
      {% site_messages %}
      {% block content %}{% endblock %}
    </div>
  </div>

  {% include "footer.html" %}

</div>

{% if debug %}{% include "debug.html" %}{% endif %}
</body>
</html>
